[2018-02-06 15:26] amanharitsh123 opened #9 "Cant See Anyone in the Neighbourhood View"
I have deployed a local server using the classical installation. I have logged on to the server using two different machines on my local network, but I cant see the other newly logged in user in my neighbourhood view until I reload the page

[2018-02-07 11:23] llaske commented on #9
Could you detail the way you connect your machines to the server? Is it using Web App (http://localhost:8080) or is it using Client App (file://...) ? Do you have any message in the browser console? Do you see the connection happen on the server log (standard output) ?

[2018-02-07 13:59] amanharitsh123 commented on #9
I was using Web App(192.168.0.104) to connect my machines

[2018-02-07 21:03] llaske commented on #9
Are you sure you've cloned the [dev](https://github.com/llaske/Sugarizer/tree/dev) branch of Sugarizer Client? Could you check the version number in your web app: My settings/About my computer/Sugarizer?

[2018-02-10 14:29] amanharitsh123 commented on #9
I think thats the error, i didnt  clone the dev branch

[2018-02-10 14:29] #9 closed

[2018-07-14 19:10] holta opened #10 "npm 6.2.0 says sugarizer-server has 1 "critical vulnerability""
FYI @llaske the "critical" vulnerability "Forgeable Public/Private Tokens" is documented at https://nodesecurity.io/advisories/87

There are 9 other "high" vulnerabilities in the table below.  Details below from an install of [Internet-in-a-Box 6.6](http://download.iiab.io/6.6/) Preview 1.

Clarif: npm asked me to run the command `npm i -g npm` to upgrade npm 5.6.0 to 6.2.0, which I did to create

[2018-07-14 19:20] holta commented on #10
CLARIF: I was running Ubuntu 18.04 where "npm i -g npm" installs into /usr/local/bin/npm

Whereas on Raspbian and Ubuntu 16.04, "npm i -g npm" upgrades npm in place at /usr/bin/npm

On all OS's, the same "31 vulnerabilities (19 low, 2 moderate, 9 high, 1 critical)" are reported.

[2018-07-16 13:58] holta commented on #10
Long-term concern / question: should we be concerned about security implications of `npm install --unsafe-perm=true` e.g. in installations like Internet-in-a-Box 6.6 @ https://github.com/iiab/iiab/pull/905 ?

[2019-01-17 10:39] llaske opened #18 "Sugarizer Server don't work on nodejs 10.x"
npm install fail with error:

[code]

[2019-01-29 09:43] llaske commented on #18
Fixed in https://github.com/llaske/sugarizer-server/commit/50c1a575d25d649422e7bf8954d33f4103f46d07

[2019-01-29 09:43] llaske commented on #10
Fixed in https://github.com/llaske/sugarizer-server/commit/50c1a575d25d649422e7bf8954d33f4103f46d07

[2019-02-05 21:16] llaske opened #19 "Can't create a classroom with a space into the dashboard"
In the dashboard, it's not possible to create a classroom with a space into the dashboard.

[2019-02-05 21:24] llaske opened #20 "Error in dashboard when deleting a classroom"
An error 404 appears in the dashboard when the delete button is clicked on a classroom.

[2019-02-05 21:26] llaske opened #21 "Missing message string in dashboard on delete"
When clicking on the delete button in the classroom a popup message appears but there is no string message.

<img width="445" alt="image" src="https://user-images.githubusercontent.com/981841/52305269-060ea600-2995-11e9-94aa-4cf8391633da.png">

[2019-02-07 21:21] llaske opened #22 "Add students icon in dashboard in classroom edit"
When editing a classroom to change students composition, two lists are displayed. One with the list of students in the classroom, the other with the list of students out of classroom.

<img width="516" alt="image" src="https://user-images.githubusercontent.com/981841/52443679-aa742200-2b26-11e9-89d6-79dc8b7082e7.png">

The idea is to add the students icon with the student color before the name of

[2019-02-17 12:31] ashish0910 commented on #21
@llaske I would like to work on it. However i am not able to find classroom option on dashboard .
![screenshot 2019-02-17 at 6 00 13 pm](https://user-images.githubusercontent.com/30404493/52912903-0cc6e280-32de-11e9-8ab3-2154fed5df85.png)

[2019-02-18 16:55] llaske commented on #21
You should get the dev branch of the repo. The classroom features is not present in the master branch

[2019-02-19 10:21] ashish0910 commented on #21
This comes up after clicking on classroom on dashboard.
![screenshot 2019-02-19 at 3 49 20 pm](https://user-images.githubusercontent.com/30404493/53007858-1d05cb80-345e-11e9-993f-55a491126aca.png)

[2019-02-21 03:32] ashish0910 commented on #21
@llaske please review #24

[2019-02-22 19:59] utkarsh-raj commented on #18
For the backwards compatibility till the v1.1 running the following command for the Ubuntu users might help, since this sets up the essential build environment for the installation of the deprecated version.

`sudo apt-get install g++ build-essential`

[2019-02-22 20:04] utkarsh-raj commented on #19
Can you elaborate a bit more about the issue @llaske ?
Is this related to not being able to have an option to create classroom from the server dashboard ?

[2019-02-23 07:09] ashish0910 commented on #19
sorry @utkarsh-raj I was also working on it . May be you can work on some other issue ?

[2019-02-23 09:57] llaske commented on #18
Thanks @utkarsh-raj, I will close the issue when the version 1.1 will be release.

[2019-02-23 15:27] utkarsh-raj commented on #19
Not a problem @ashish1910 , as long as the bugs get lesser :)

[2019-02-23 15:33] llaske opened #27 "MongoDB allocate up to 800MB during install process"
Testing internet-in-a-box, we have discovered that mongodb seems to randomly allocate up to 800MB of disk space, during the install process, even when we set the prealloc=no flag. So we were wondering what loss of function, which activities would degrade, if we just did not load mongodb?

Full Details @ [iiab/iiab#254](https://github.com/iiab/iiab/issues/254)

Copied from https://github.com/llaske

[2019-02-23 22:21] utkarsh-raj commented on #22
Working on it. Work required in the icon.js file to change the icon dimension for the option.

[2019-02-24 04:05] usmanmuhd opened #29 "Make the docs clear about creating the user when running docker"
The docs are not exactly clear about where to run the `sh add-admin.sh admin password http://127.0.0.1:8080/auth/signup` command when using docker. Running it on host machine gives
[code]
Make it clear that it should be run inside the container.

[2019-02-24 05:33] ashish0910 commented on #29
@usmanmuhd The above command can be run when you are in the sugarizer-server directory on terminal / command line . Running it in container in not necessary . It will work even if you do not have docker installed on your system .

[2019-02-24 06:42] usmanmuhd commented on #29
@ashish0910 it does not work on terminal as I have stated above when using docker. What I said was to make it clear to future contributors that it should be run inside the docker container.

[2019-02-24 07:11] ashish0910 commented on #29
@usmanmuhd what error did you get when running it on terminal ?

[2019-02-24 07:13] usmanmuhd commented on #29
[code]

[2019-02-24 09:13] llaske commented on #20
@tarunsinghal92 do not close issues before a new version is release including the issue.
It avoid multiple declaration of the same issue.

[2019-02-24 09:19] llaske commented on #29
For security reason, you can't signup as Dashboard admin except if you're on the Sugarizer server itself.
In Docker, it means that you need to open a terminal on the container to launch the command add-admin script.
Sure it could be add in the documentation.
BTW I think it could be better to find another way to create the initial Dashboard admin account. Any suggestion is welcome.

[2019-02-24 09:25] llaske commented on #22
@utkarsh-raj  Hmmm, interesting. Initially icon.js - which is part of [sugar-web library ](https://github.com/llaske/sugarizer/blob/master/lib/sugar-web/graphics/icon.js)- not mentioned icon size. It's better to try to avoid use hardcoded size inside.

[2019-02-24 09:37] usmanmuhd commented on #29
I think the better way would be to have a sign up page for one time. The admin could sign up through the browser itself for the first time after deployment.

[2019-02-24 15:49] tarunsinghal92 commented on #20
@llaske okay! but i have merged the pr in `dev branch`

[2019-02-24 18:19] ashish0910 opened #33 "Consistency in language of users"
When we create a new user through http://127.0.0.1:8080/dashboard/users/add we have to have to enter language of the user but however the admin can enter any value without any validation . The idea is to add a select option which allows admin to add only specific values which will be consistent throughout the database . (like English , Hindi .. etc )
![screenshot 2019-02-24 at 11 47 04 pm](https:/

[2019-02-24 20:18] llaske commented on #21
Fixed in https://github.com/llaske/sugarizer-server/commit/59eaafd4891b63d564b37bc3d532ab24c2e93629

[2019-02-24 20:19] llaske commented on #19
Fixed in https://github.com/llaske/sugarizer-server/pull/26

[2019-02-24 20:34] llaske commented on #33
@ashish0910, you're right a value without any control is not ideal.
May be we could propose a set of value.
For students the value depend of the Sugarizer client language set, currently [here](https://github.com/llaske/sugarizer/blob/dev/js/dialog.js#L583) is the value list.
For admins the value depend of the Sugarizer admin language set, currently [here](https://github.com/llaske/sugarizer-server

[2019-02-24 20:40] llaske commented on #29
@usmanmuhd no because if someone install a new server and don't think to create immediately the admin account, anyone could create it before him.

[2019-02-24 22:04] usmanmuhd commented on #29
Yeah that's there. But I have seen some other softwares use the same strategy and enforce that the admin creates an account first.

[2019-02-25 02:21] ashish0910 commented on #33
I will start working on it .

[2019-02-25 21:05] llaske commented on #33
Merge in https://github.com/llaske/sugarizer-server/commit/3a2e50d4b03dd7ba896a17652dab4ca45f3d2c12

[2019-02-26 11:38] usmanmuhd opened #36 "Auto reload when I change the option from dropdown"
I have to press "show results" button now to see results after changing option from dropdown. It can be changed to autoreload to make UX better.
![ezgif-1-13aa0167392a](https://user-images.githubusercontent.com/26684281/53410167-05dc5600-39e9-11e9-8326-af80aed377d6.gif)

[2019-02-27 13:44] ashish0910 commented on #22
@utkarsh-raj can I also work on it ?

[2019-02-27 18:10] creyente1897 opened #37 "Adding issue and pr templates"
#### I am submitting a -
* [x] **Feature Request**
* [] **Bug Report**

#### Describe your bug/feature -
Currently there is no template for issue and pull request and so there are problems in a well formatted issue which can be easy to understand. So there must be a template for both.

#### Are you working on this issue? (Yes/No)
Yes

[2019-02-27 20:14] llaske commented on #37
I don't see the interest for this today.

[2019-02-27 20:17] llaske commented on #36
If there is lot of records in the database because it will multiply request on the server.  Because server could be host on a RaspberryPI, I don't think it's pertinent.

[2019-02-28 01:34] usmanmuhd commented on #36
I think pagination would solve that issue. We could just pull 10 at a time.

[2019-02-28 11:00] creyente1897 commented on #37
@llaske Ok sir

[2019-02-28 11:00] #37 closed

[2019-02-28 12:44] ashish0910 opened #39 "show no result found message rather than Showing table headings"
On searching for User or Classroom through search option it shows only headings of the table if no matching result is found . The idea is to show user that no User or Classroom matching your search found message rather than showing only Table headings .

![screenshot 2019-02-28 at 6 11 37 pm](https://user-images.githubusercontent.com/30404493/53567226-91d6b500-3b84-11e9-9c93-7f106438ff8b.png)

[2019-02-28 23:20] llaske commented on #36
Pagination is already implemented.

[2019-02-28 23:23] llaske commented on #39
Seems clear that there is no result found. It's the same behavior when looking for users.

[2019-03-01 03:04] usmanmuhd commented on #36
So you still think that auto reload is not advisable?

[2019-03-01 17:06] NikhilM98 opened #41 "Install linting in the project"
Sugarizer server has great potential for extending its codebase. I think we should install linter (Specifically ESLint) in the project before the codebase gets too messy due to the inconsistency in the language of the users. Not having coding conventions is also a barrier to attracting contributions. Besides checking style, linters are also excellent tools for finding certain classes of bugs, such

[2019-03-01 17:59] NikhilM98 opened #42 "Language switching not handled properly"
Some text on the dashboard is not being translated on switching the language using the language dropdown.

Steps to reproduce:
1. Go to Dashboard Login and login with admin credentials.
![screenshot from 2019-03-01 23-17-14](https://user-images.githubusercontent.com/24666770/53656210-954b6880-3c78-11e9-9976-d2eab3de3934.png)

2. After login. Switch language using the dropdown on the top right of t

[2019-03-01 19:37] ashish0910 commented on #39
Yes , It's the same behaviour when looking for users. Showing such messages helps in better user experience .

[2019-03-02 00:52] tarunsinghal92 commented on #39
@ashish0910 Could you please make a PR with a similar screen as shown above for classroom module.

[2019-03-02 05:35] ashish0910 commented on #39
@tarunsinghal92 added in #44

[2019-03-03 04:14] tarunsinghal92 commented on #41
@NikhilM98
This is a very nice idea and I think we should have `lint` to promote coding convention. Please make sure that linting rules are flexible enough to accommodate the current design pattern.

Looking forward to reviewing the PR.

-
TKS

[2019-03-03 05:46] NikhilM98 opened #49 "Breaking changes due to the use of ES6 syntax"
@imdhruvgupta @tarunsinghal92 there are some issues which are causing breaking changes. ES6 syntax is used here which is not recognized by node until we use Babel. I think there's no need to use Babel in this project for now. This is causing breaking issues in the project. After pulling the latest code. I'm getting the error:

	FATAL ERROR, uncaught exception 'Unexpected token export'
	/sugarizer-

[2019-03-03 06:09] NikhilM98 commented on #41
Cool!
I've already started working on the issue.
There are a lot of indentation, semicolon, and variable scope errors. I was thinking about ignoring indentation errors for now and begin from the variable scope errors.
@tarunsinghal92 can we discuss some linting rule practices on IRC?

[2019-03-03 07:23] ashish0910 opened #50 "Allow sorting users and classrooms in Dashboard"
The api provides feature to sort the users as show in documentation written in `api/controller/users.js`

![screenshot 2019-03-03 at 12 45 05 pm](https://user-images.githubusercontent.com/30404493/53692224-3427b000-3db2-11e9-802d-863c7269ce77.png)

but when we run it on browser for +name it gives

![screenshot 2019-03-03 at 12 46 47 pm](https://user-images.githubusercontent.com/30404493/53692257-7

[2019-03-03 10:00] NikhilM98 commented on #50
@ashish0910 I think maintainers are well aware is this issue. I saw this issue on [GSoC idea page](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2019.md#expand-sugarizer-exerciser-activity).

The sort functionality in the `api/controller` is well written and tested. You can check the `test` folder to find the tests for sorting. The reason you can't sort is because it's hard-coded to sort in

[2019-03-03 10:41] ashish0910 commented on #50
Yes @NikhilM98 I Know this . The main idea is to add this feature like sort by date , name etc in the views .
I will start working on it .

[2019-03-03 12:53] NikhilM98 opened #51 "Server crashes on client reload"
Steps to reproduce:
1. Start the server using `npm start`
2. Login and navigate to `/dashboard/activities` page (From Browser).
3. Stop the server. Start the server again. (Restart)
4. Refresh the `/dashboard/activities` page. The server crashes:
![screenshot from 2019-03-03 18-18-49](https://user-images.githubusercontent.com/24666770/53695379-ff7f1d00-3de0-11e9-91b8-e1ad106b9e7a.png)

Expected be

[2019-03-03 13:06] NikhilM98 commented on #51
It's working fine on other pages.

On comparing:
https://github.com/llaske/sugarizer-server/blob/a292c95a7e91c140a7ad05e5844c8c86eb41c9d8/dashboard/controller/users.js#L54-L74
and

https://github.com/llaske/sugarizer-server/blob/a292c95a7e91c140a7ad05e5844c8c86eb41c9d8/dashboard/controller/activities/index.js#L34-L52

I would recommend removing `return res.redirect('/dashboard/activities');` state

[2019-03-03 18:30] NikhilM98 commented on #51
@ashish0910 Thanks for pointing it out but I was already working on this issue and I have an open pull request.
Check contributing guidilines [here](https://github.com/sugarlabs/sugar-docs/blob/master/src/contributing.md#contributing)

[2019-03-03 18:43] ashish0910 commented on #51
Sorry @NikhilM98 I referred your issue just as an example . It is not conflicting your pull request and has change in different files . The issue which my pull request fix is quite similar to this issue but for different set of files . Your issue and pr was specifically for activity page and mine works on journal page . If you still feel objected then I can close my PR .

[2019-03-03 19:26] NikhilM98 commented on #51
@ashish0919 since your implementation was similar to mine, It couldn't handle `getEntries` functionality properly. It was good for rendering `index`. The server is crashing due to an authentication error. But the app should also be able to handle other error cases.

[2019-03-03 19:30] ashish0910 commented on #51
@NikhilM98 since now you are now working on journal page also then I shall close my PR .

[2019-03-03 21:20] tarunsinghal92 commented on #49
@imdhruvgupta

Could you please look into this issue asap!

[2019-03-04 07:43] ashish0910 opened #56 "Classroom and User page crash"
Steps to reproduce -
1.Start the server
2.Go to `http://127.0.0.1:8080/dashboard/classrooms`
3.Click on edit to edit any one the class
4.Now click on any one of the student in the left hand side search student box (this will shift student to the right hand side box).
5.Now click save
The server will crash . It will give error like this in the terminal .

`FATAL ERROR, uncaught exception 'classroom

[2019-03-04 08:02] ashish0910 commented on #56
I have started working on it and will soon launch a PR to fix it .

[2019-03-04 09:23] NikhilM98 commented on #56
@ashish0910 good job finding the issue. I faced similar issue while testing. This issue is caused because `classroom.students` is not an array. When you sent the post request to create a classroom. You selected only one element.

This issue can be solved by adding a `if` statement here:
https://github.com/llaske/sugarizer-server/blob/e4c373896485b850435366a5dac64aac66f0fd37/dashboard/controller/cl

[2019-03-04 09:37] ashish0910 commented on #56
@NikhilM98 thanks for your suggestion

[2019-03-04 11:38] NikhilM98 commented on #56
@llaske @tarunsinghal92 I would recommend using Mongoose ODM for defining Models and making database query. Mongoose Models are good for defining the structure of a collection. The type check and structure check prevents inserting undesirable data in the document. It reduces the chances of NoSQL injection.

Mongoose can be added in the later release of the project. It maybe added as a part of [Imp

[2019-03-04 12:25] ashish0910 commented on #56
@NikhilM98 yes its a good idea but I feel using mongoose can effect the performance when we have larger database and native mongodb driver will be faster .

[2019-03-04 16:14] imdhruvgupta commented on #49
It was working fine in docker mode. I'll check that.

[2019-03-04 18:47] nityanandagohain opened #59 "Display activity name in notification."
When we click on the favourite button of an activity the activity name should be also displayed.

![screenshot from 2019-03-05 00-09-09](https://user-images.githubusercontent.com/26831659/53755232-05a5f400-3edc-11e9-9d9b-2beb5b43908f.png)

Eg: - "gears activity successfully updated"

I want to work on this.

[2019-03-07 07:56] ashish0910 opened #69 "users , classroom add route crash"
After fetching upstream  the dev branch crashes for `http://127.0.0.1:8080/dashboard/classrooms/add`
and `http://127.0.0.1:8080/dashboard/users/add` routes

![screenshot 2019-03-07 at 1 02 59 pm](https://user-images.githubusercontent.com/30404493/53939641-b9c09e00-40d9-11e9-8a1f-a5ddcc6118d7.png)

![screenshot 2019-03-07 at 1 05 03 pm](https://user-images.githubusercontent.com/30404493/53940541-f8

[2019-03-07 08:32] NikhilM98 commented on #69
@ashish0910 good job finding the issue. It's due to `server` variable being undefined. It can be solved by passing `server: ini.information` while calling `res.render` for those views. I wonder why this issue didn't show up earlier.
I've to modify my restructuring PRs for this error too. While you are at it. Can you fix the typo mentioned in #66 too. I think bugs fixes and restructuring should me

[2019-03-07 13:14] sweezy793 commented on #18
@llaske Which version of node does Sugarizer work with? I have node 10.X installed and I'm facing the exact problem

[2019-03-08 03:23] #51 closed

[2019-03-08 03:23] NikhilM98 commented on #51
Merged #52

[2019-03-08 03:25] NikhilM98 commented on #49
Merged #55

[2019-03-08 03:25] #49 closed

[2019-03-08 11:22] llaske commented on #69
Should be solved now. Could you check?

[2019-03-08 11:25] ashish0910 commented on #69
solved in #71

[2019-03-08 11:26] ashish0910 commented on #56
solved in #57

[2019-03-08 13:07] SomtochiAma opened #74 "Encrypting password"

[2019-03-08 14:14] NikhilM98 commented on #74
I agree that storing plain text password in the DB is a major security risk. In case of NoSQL injection attack on the school server, attacker can retrive plain text passwords of the students and the admin.

Admin and students are created using a common route (`/auth/signup`). Roles are assigned to them. The function for sign-up:
https://github.com/llaske/sugarizer-server/blob/be03d5e7a79f5571e56e1

[2019-03-09 05:18] SomtochiAma commented on #74
Okay, you make a valid point. I was thinking that we would just check the the role of the user first before encrypting it but which ever way that works. I will wait for further input from others

[2019-03-10 02:28] ahmedkrmn commented on #41
@NikhilM98 and @tarunsinghal92. There's an npm package called [prettier](https://www.npmjs.com/package/prettier) that works out of the box and can be configured as well.
It's also available as an extension for the majority of editors out there.

[2019-03-10 13:19] ahmedkrmn opened #78 "Sort tables in Users/Classrooms by clicking on the column header"
This is an enhancement feature that I think would be very handy if added to the project.
The admin can click on the header he/she wants to sort the table by whether it's students table, the admins table or the classrooms table.

Here are two Gifs demonstrating the functionality:
**Users (Students/Admins):**

![Users2](https://user-images.githubusercontent.com/20889958/54085449-02c95a00-4347-11e9-8

[2019-03-10 13:41] AvinashAgarwal14 opened #81 "Setup Issue(branch - master)"
After building the application through docker, whenever I try to open neighbourhood view, the server throws an error and restarts. The details of the error are mentioned below, any help would be much appreciated.

Node: 10.4.1
Mongo: 4.0.6

/sugarizer-server/node_modules/websocket/lib/WebSocketConnection.js:730
server_1   |     data = bufferFromString(data.toString(), 'utf8');
server_1   |

[2019-03-10 13:51] #69 closed

[2019-03-10 13:52] #56 closed

[2019-03-10 14:02] NikhilM98 commented on #81
@AvinashAgarwal14 maybe it's due to the deprecated dependencies on the master. You can refer to issue #18. Those dependencies were updated on dev. You can try switching to dev. The updates will be released in version 1.1

[2019-03-10 14:11] AvinashAgarwal14 commented on #81
@NikhilM98 Thankyou for the response, but when I am using dev I am not even able to build the application. The error message is attached below.

mongodb_1  | 2019-03-10T14:06:30.919+0000 [conn1] end connection 172.19.0.3:59996 (0 connections now open)
server_1   | FATAL ERROR, uncaught exception 'Unexpected token {'
server_1   | SyntaxError: Unexpected token {
server_1   |     at exports.runInThis

[2019-03-10 16:23] ahmedkrmn opened #82 "Server hangs/crashes on when an admin delete its own account"
When the currently logged in admin user deletes their account, the server hangs and the page is stuck on reload until it crashes.

**Problem:**

![admin logout](https://user-images.githubusercontent.com/20889958/54086757-124f9f80-4355-11e9-82a4-2da548a6198e.gif)

**Fix: #83**

Disallow currently logged in admin from deleting their own account and display an error message.

![delete admin](https://

[2019-03-10 20:19] llaske commented on #82
It's true but it's a borderline case: the admin remove himself.
Plus we're planning to create a [Teacher profile](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2019.md#improve-sugarizer-server-dashboard) avoid this sort of issue.

[2019-03-10 20:21] llaske commented on #81
Could you provide a detailed log of your complete installation process.

[2019-03-10 20:28] llaske commented on #74
We need to keep the way to retrieve students password as simple as possible. There is nothing like an e-mail address (neither for students, neither for admin) where we could send a password or a link to reset the password. I don't want to force young children to create an e-mail and I don't want to depend of an external e-mail platforms.
So I'm not in favor to add something that could risk to lock

[2019-03-10 20:40] llaske commented on #39
Fixed in https://github.com/llaske/sugarizer-server/pull/44

[2019-03-10 21:27] SomtochiAma commented on #81
I get the same error too when I switch to the dev branch and run docker compose up.
The master branch builds correctly. The only issue( on the master branch ) is when I switch to the neighborhood view. I see "Unable to connect to server". Inspecting the console in chrome dev tools shows this error: ""Web Socket Connection  to 'ws://127:0.0.1:8039/' failed,
Error in connection establishment: net: :

[2019-03-11 05:00] ahmedkrmn commented on #82
@llaske Shall I close the PR then ?!
I think we can go with the bug fix #83 until we create the teacher profile.

[2019-03-11 07:12] ahmedkrmn opened #84 "Go to User journal/Launch activity when clicked on chart"
A nice UX feature can be added which takes the admin to the user journal page when he/she clicks on the user in the _Top Contributors_ chart.

The admin can also launch an activity by clicking on it in the _Top Activities_ chart.

Implemented here: #85

[2019-03-11 08:30] ahmedkrmn commented on #59
@nityanandagohain Is the issue solved ?

[2019-03-11 11:13] ahmedkrmn opened #87 ""Activities successfully updated!" alert showing instead of launching activity"
When clicking on the launch activity action icon, sometimes instead of opening the activity, the **"Activities successfully updated!"** alert is displayed!

![launch](https://user-images.githubusercontent.com/20889958/54119863-120bde80-43ff-11e9-922f-a33fc93ed616.gif)

[2019-03-11 11:26] NikhilM98 commented on #87
Looks like you're dragging the activity instead of clicking on the action. Are you using a touch screen or something?

[2019-03-11 11:36] ahmedkrmn commented on #87
@NikhilM98 Yeah that was the reason.
It took me a while to find out it, but I've just submitted a PR with a fix.

[2019-03-11 11:56] NikhilM98 commented on #87
I really doubt if it's an issue here. I've been using trackpad and mouse and I never faced this issue. This application is supposed to be used by network administrators and teachers. I don't think that they would be confused with such a trivial operation.

[2019-03-11 12:20] ashish0910 opened #90 "Add Minification to project"
Currently project is not using any tool for management of public resources and minification of code as mentioned [here](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2019.md#improve-sugarizer-server-dashboard) . We can use gulp or grunt or some other tool for it . I propose using gulp for it as in
#80 .

[2019-03-11 12:25] ahmedkrmn commented on #87
It won't hurt. If I faced it, it means someone else might as well.

[2019-03-11 12:57] NikhilM98 commented on #90
If you're comparing bundlers. I'd recommend Webpack. It has more advantages and is more popular than Gulp and Grunt.

To back my statement, here are some blogs where they are compared:
https://da-14.com/blog/gulp-vs-grunt-vs-webpack-comparison-build-tools-task-runners
https://scotch.io/@VitalyKuprenko/grunt-vs-gulp-vs-webpack-an-elaborate-comparison-of-tools

[2019-03-11 13:00] ahmedkrmn commented on #90
Totally agree with @NikhilM98.
@ashish0910 thanks for bringing up this issue.

[2019-03-11 13:06] ahmedkrmn opened #91 "Real time search instead of highlighting"
To search the activities page, admin must click the search button to highlight all occurrences of the word.

![real timesss](https://user-images.githubusercontent.com/20889958/54125778-9e71cd80-440e-11e9-9097-bf442a594003.gif)

---

I think real time searching would give a better UX.

![real times](https://user-images.githubusercontent.com/20889958/54125784-a16cbe00-440e-11e9-8427-8e48729f1bab.gif

[2019-03-11 14:12] AvinashAgarwal14 commented on #81
@llaske I am attaching below a complete log of my installation. Please let me know how can I solve it, that would be very helpful.

Node: 10.4.1
Npm: 6.1.0
Docker: 18.06.1-ce, build e68fc7a

Log:
[log.txt](https://github.com/llaske/sugarizer-server/files/2952552/log.txt)

[2019-03-11 19:40] NikhilM98 commented on #59
I'm not sure if we can consider this an issue.
"If we change the position of an element in a list. The relative order of other elements is also changed and the list itself is updated."
The current notifications seems principally more correct since the order of activities is updated.

[2019-03-11 21:13] ahmedkrmn commented on #59
@NikhilM98 good point 👍

[2019-03-12 21:50] llaske commented on #82
No, I've merged your fix. Thanks.

[2019-03-12 22:08] llaske commented on #87
I'm agree with @NikhilM98. It's not an issue, it's a standard feature on draggable element.

[2019-03-12 22:47] ahmedkrmn commented on #87
@llaske I know that this is the expected behavior for a draggable element, but I think that only allowing the dragging action to take place by only dragging through the three dotted icon as shown here #88 would be a nicer idea than dragging anywhere on the row. Plus, nobody would have to face this issue as in the GIF.

[2019-03-13 03:45] ahmedkrmn opened #95 "Statistics page shows all users as inactive"
The **How many users actives during last month?** chart on the _statistics_ page shows that all users were inactive during last months even though they were!

![inactive](https://user-images.githubusercontent.com/20889958/54251820-34157600-4551-11e9-938b-cd9ac9000667.gif)

Fixed here: #97

[2019-03-13 04:38] ahmedkrmn opened #98 "Add quick "add all" / "remove all" students from a class"
Currently, the admin has to go through all the class students one by one to remove them from the class. Same goes for addition.

![class](https://user-images.githubusercontent.com/20889958/54253908-13055300-455a-11e9-9ead-ef93115cb116.gif)

This would be troublesome if there are lots of students in the DB and the admin wants to create a class with all the students except a selected few.

@llaske a

[2019-03-13 07:56] llaske commented on #84
Fixed in https://github.com/llaske/sugarizer-server/pull/85

[2019-03-13 09:22] llaske commented on #87
I must confess that your fix is nice and dragging using three dotted icon is standard in lot of UI.
BTW I'm not fully sure that this update is pertinent.
@tarunsinghal92 could you give us your opinion?

[2019-03-14 14:58] llaske commented on #81
Sorry can't reproduce your issue, neither on branch master, neither on branch dev.
Are you sure you've done following instructions:

[code]

[2019-03-14 14:59] llaske commented on #36
Yes

[2019-03-14 16:00] SomtochiAma opened #106 "Improve Documentation"
Add a quick description for each of the routes so getting started is a lot easier

[2019-03-14 16:04] ahmedkrmn commented on #106
After you setup sugarizer locally, you can read more about the API here: http://127.0.0.1:8080/docs

[2019-03-14 16:22] SomtochiAma commented on #90
We could change the code to ES6 syntax then use babel to transpile to ES5 if we are using webpack

[2019-03-14 16:27] NikhilM98 commented on #90
@SomtochiAma agreed

[2019-03-14 16:29] #36 closed

[2019-03-14 21:20] llaske commented on #95
Oooch, very important issue. Thanks.

[2019-03-14 21:23] llaske commented on #95
Fixed in https://github.com/llaske/sugarizer-server/pull/97

[2019-03-14 23:25] SomtochiAma commented on #106
Okay.I was thinking of short one-liners but I guess It would be an overkill

[2019-03-16 09:40] NikhilM98 opened #109 "Delete all user data when the user is deleted"
When a user is deleted, his journals and stats are not removed from the database.
I was wondering whether should we remove the user data when the user is deleted. The data can be useful for analytics when we expand sugarizer-server dashboard. But storing someone's data without their consent is also not good.

[2019-03-16 14:59] llaske commented on #109
Good point.
I don't think we need to remove stats but journal should certainly be removed.

[2019-03-16 15:00] llaske commented on #98
I don't think we need this. Classrooms are by definition small and, at worse, the teacher could just remove the classroom itself.

[2019-03-16 15:02] llaske commented on #91
The list of activities is very small. Plus, we choose to not have real time - for pagination reason - for other screens so I don't think we need this.

[2019-03-16 15:15] NikhilM98 commented on #109
@llaske okay. I'll start working on it 🙂

[2019-03-16 15:50] #98 closed

[2019-03-16 15:50] #91 closed

[2019-03-16 17:13] Anshuman71 commented on #90
@NikhilM98  @SomtochiAma I was wondering too why we are not using ES6 syntax

[2019-03-17 03:09] ashish0910 opened #111 "Search for users in journal screen is limited"
On `dashboard/journal?lang=en` route when you click on select user option it shows only 10 most recent users and not others and when you search the user which is left then it shows no result found . Hence we are not able to access journal of all users .

as you can see user 'b' exists

![Screenshot 2019-03-17 at 8 37 09 AM](https://user-images.githubusercontent.com/30404493/54484593-f6d22080-488f-

[2019-03-17 04:11] Anshuman71 opened #112 "No message when searched activity is not found"
When we miss a search in activities we are not shown any message regarding the `no match found` which seems odd and is not quite a good user experience.
I have fixed this in #125

[2019-03-17 08:03] Anshuman71 commented on #41
@tarunsinghal92 @NikhilM98 @ahmedkrmn Prettier and eslint go hand in hand for a great codebase.
We can use 'Airbnb' style guide or can implement our own after a discussion on IRC.
VsCode formats the code for better readability and it makes a huge diff in pull requests as of now.
So it will be great to implement a coding standard now.
Before
![Screenshot from 2019-03-17 13-31-21](https://user-image

[2019-03-17 09:04] NikhilM98 commented on #41
@Anshuman71 thanks for the suggestion.

Actually, VS Code doesn't automatically formats the code. I think you've installed some plugin like Beautify which automatically formats the code on save.

We cannot follow the style guides like Airbnb since they'll mean huge changes in the code. We've to follow a more flexible style guide for the initial phase of linting.

Also, in my personal opinion, I th

[2019-03-17 09:18] NikhilM98 commented on #90
@Anshuman71
At the current point in time, ECMAScript modules are only available as an [experimental feature](https://nodejs.org/api/esm.html) in Node.js and not all browsers support ES6 and higher.

In order to use Node.js in our project, we need to install Babel in our project which can be used to transpile modern ECMAScript code to ES5 code to ensure backward compatibility.

[2019-03-17 09:51] Anshuman71 commented on #41
@NikhilM98 thanks for the follow-up. My suggestion was totally motivated by the thought of uniform coding standards.

[2019-03-17 09:56] Anshuman71 commented on #90
@NikhilM98 yes I am using it in my personal projects.

[2019-03-17 15:45] llaske commented on #90
I'm not in favor to add complexity to the current development environment without direct benefit.
Using Webpack and Babel will add complexity where today we just need an editing tool and node.js to run and update Sugarizer Server.
Plus, optimizing Dashboard is not a priority because the dashboard is intend to be use by few users (teachers and admin). Not the same thing for Sugarizer App where opti

[2019-03-17 15:49] llaske commented on #50
PR continue on https://github.com/llaske/sugarizer-server/pull/77

[2019-03-17 15:51] llaske commented on #78
This issue mentioned only local sort. More on https://github.com/llaske/sugarizer-server/issues/50

[2019-03-17 15:51] #78 closed

[2019-03-18 04:17] Anshuman71 opened #119 "`How users are launching activities` not showing any data"
Is this only me or the statistics page is not showing a chart for `How users are launching activities` when there is indeed an entry in the database collection 'stats'
![Screenshot from 2019-03-18 09-46-39](https://user-images.githubusercontent.com/28081510/54506555-f6568a00-4962-11e9-971d-945a8b93d0f8.png)

I am on this issue and have found the bug.
Please let me know if this is an issue indeed

[2019-03-18 04:25] ashish0910 commented on #119
@Anshuman71 I don't think it is an issue
![Screenshot 2019-03-18 at 9 52 01 AM](https://user-images.githubusercontent.com/30404493/54506707-c65bb680-4963-11e9-9a55-135308542190.png)

when you login and launch activities from here `http://127.0.0.1:8080/` then you generate stats for it

[2019-03-18 04:28] Anshuman71 commented on #119
@ashish0910 but in the database, we have entry regarding the 'launch_activity', 'relaunch_activity' still it's not showing

[2019-03-18 12:12] Anshuman71 opened #126 "Add models for database"
Add models/schema for database collections just a [reference](https://github.com/Anshuman71/CRUD-using-MongoDB-and-Express-).
This is just to take an opinion on this particular thought.

[2019-03-18 16:06] NikhilM98 commented on #126
Yes, we've faced issues due to missing validation before. I recommended using Mongoose [here](https://github.com/llaske/sugarizer-server/issues/56), but the idea didn't get approved.

[2019-03-19 15:44] Anshuman71 opened #130 "main.js:66 Uncaught TypeError: Cannot read property 'server' of null"
![two](https://user-images.githubusercontent.com/28081510/54620233-db336980-4a8b-11e9-812f-c491a0b182ef.gif)
i fixed this issue was just a one condition,

[2019-03-19 15:47] NikhilM98 commented on #130
I've already referenced and fixed this issue here #129

[2019-03-19 15:48] Anshuman71 commented on #130
@NikhilM98  thanks for the followup I am closing this issue

[2019-03-19 15:48] #130 closed

[2019-03-19 16:51] NikhilM98 commented on #130
@Anshuman71 the PR is not yet merged :sweat_smile:. I think it'd be good if we wait for the PR to be merged before closing this issue.

[2019-03-20 04:21] ashish0910 opened #131 "private and shared select tag of journal translation issue"
After #124 a bug has arrived in translation of select tag of shared and private journal . After changing the language for couple of times this problem arises .

![Screenshot 2019-03-20 at 9 36 08 AM](https://user-images.githubusercontent.com/30404493/54658873-8fb5a580-4af5-11e9-95a3-be31f3c154ee.png)

![Screenshot 2019-03-20 at 9 36 01 AM](https://user-images.githubusercontent.com/30404493/5465888

[2019-03-20 07:55] NikhilM98 commented on #130
Fixed in #129

[2019-03-20 17:17] NikhilM98 commented on #126
Suggestion: If we're not ready for Mongoose ODM yet, then maybe we can use custom MongoDB [schema validation](https://docs.mongodb.com/manual/core/schema-validation/). But that'll also require plenty of changes and testing in the controllers.

[2019-03-22 11:26] NikhilM98 opened #139 "Inconsistency in the function execution"
In the `process-results` function in `api/controller/activities`.

The variables for the array `activities2` and the flag `isValid` are defined as global variables.
Since JS is asynchronous in nature and so is Node, this can lead to inconsistency in the array and flags in the case the function is executed at the same time by two or more users (If the flag is raised for one user, it will also be ra

[2019-03-23 06:25] Anshuman71 commented on #139
@NikhilM98  yes, this should be fixed. I also think it would lead to some bugs in a race condition(multiple users). Global variables also reflect an inconsistent codebase.
Personal opinion

[2019-03-23 10:09] NikhilM98 commented on #139
@Anshuman71 thanks for the quick feedback. I've created a PR handling the global variable affecting the race case scenario.

[2019-03-23 17:40] ashish0910 commented on #131
fixed in #132

[2019-03-23 17:40] #131 closed

[2019-03-24 10:08] NikhilM98 commented on #139
Fixed in #140

[2019-03-24 10:08] #139 closed

[2019-03-24 10:57] llaske commented on #87
Fixed in https://github.com/llaske/sugarizer-server/pull/88

[2019-03-24 10:58] llaske commented on #126
I think that the API Documentation is sufficient today.

[2019-03-24 10:59] ashish0910 opened #142 "Page navigation problem on language switching"
After switching the language the reload takes place and forgets the query of the user and redirects to default situation which is not good .

Example :

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/30404493/54878362-8019c200-4e51-11e9-8d63-45252bcc4ff1.gif)

Similar behaviour takes place in case of journal also .

[2019-03-24 11:00] llaske commented on #112
Fixed in https://github.com/llaske/sugarizer-server/pull/125

[2019-03-24 11:01] ashish0910 commented on #142
I have started working on this issue .

[2019-03-24 11:01] #106 closed

[2019-03-24 11:09] NikhilM98 commented on #142
I think this is the expected result. Retaining the query data can give rise to unexpected bugs.

[2019-03-24 11:20] ashish0910 commented on #142
@NikhilM98 I don't think it is a good idea . It will have a very bad impact on user experience . for example if you have set 3-4 parameters such as name , sort and classroom and then you change the language , it will delete all the queries and will show default result and then user will have to set all those parameters . @llaske what are your views on it ?

[2019-03-24 11:31] NikhilM98 commented on #142
@ashish0910 To fix this, you've to check the query string on language change, search for the language parameter in the string, and adjust it accordingly retaining the other parameters.
But this will cause the user to make the GET request twice on the route with the same parameters. This may have undesirable consequences in certain cases. This may also lead to other bugs in the future.

[2019-03-24 11:36] NikhilM98 commented on #142
I cannot locate this issue in the Journal View. Can you please upload the screenshot?

[2019-03-24 12:14] ashish0910 commented on #142
![ezgif com-video-to-gif](https://user-images.githubusercontent.com/30404493/54879214-5ca84480-4e5c-11e9-8dee-59b76e51388b.gif)

[2019-03-24 12:17] ashish0910 commented on #142
@NikhilM98 we might need some other way to handle this issue .

[2019-03-24 15:56] Anshuman71 commented on #112
thanks, @llaske for reviewing. I am closing this issue now.

[2019-03-24 18:27] llaske commented on #112
I don't close issues before releasing a new version.

[2019-03-24 18:33] NikhilM98 commented on #42
Fixed in #121

[2019-03-24 18:35] NikhilM98 commented on #112
@llaske I've also closed some of my issues. Please check if there's a need to reopen those issues.

[2019-03-24 18:38] llaske commented on #42
I'm not close issues until a new release is out.

[2019-03-25 17:32] AvinashAgarwal14 commented on #81
@llaske Thanks, re-installing docker and docker-compose seemed to have solved the problem.
@SomtochiAma Try re-installing docker and docker-compose once.

[2019-03-26 02:42] yog24esh opened #147 "Sugarizer logo not visible in dashboard on users menu"
![ezgif com-gif-maker](https://user-images.githubusercontent.com/16835166/54967526-a0ef2e00-4f9d-11e9-917f-875e075ec9a3.gif)

On sugar-server dashboard (master branch) on opening a new user page , the sugar label text is missing on top left.

[2019-03-26 12:13] NikhilM98 opened #148 "Word "users" use instead of "students" on the dashboard"
On the dashboard, the card shows that there are 5 users.
![Screenshot from 2019-03-26 17-19-02](https://user-images.githubusercontent.com/24666770/54995169-226dad00-4fec-11e9-978d-8d5a91d50919.png)

But actually, there are 9 users consisting of 5 students and 4 admins.
![Screenshot from 2019-03-26 17-26-05](https://user-images.githubusercontent.com/24666770/54995298-6e205680-4fec-11e9-8f1a-677695c

[2019-03-26 12:21] ashish0910 commented on #148
@NikhilM98 here view all users should mean for teachers and students not admin . Since teacher API is not built as of now view all users leading to students should be expected behavior . View all users feels correct as of now but when teacher will included then view all students and view all teachers will make sense .

[2019-03-26 12:34] NikhilM98 commented on #148
`Students` still seem more correct.
Let's wait for the feedback from other contributors. What do you think @Anshuman71 @SomtochiAma?

[2019-03-26 15:26] Anshuman71 commented on #148
@NikhilM98, yes I also think it should show what it is. So >Students seems to be the key here. @ashish0910, Teachers API is not yet built but it is to be build and In my opinion, it won't affect the things are working and will work.
Please, give your thoughts on that.

[2019-03-27 01:42] SomtochiAma commented on #148
I agree with @NikhilM98  on this. It is a small UX issue to avoid confusion, Students is much better.

[2019-03-28 02:09] SomtochiAma opened #154 "Language doesn't switch on mobile view"
The language selection doesn't work on the mobile view

Steps to replicate
1. Go to the dashboard home and make it responsive with chrome dev tools

2. Try switching the languages from the toggleable nav bar
![Screenshot (39)](https://user-images.githubusercontent.com/34774756/55124529-c6e41200-5106-11e9-814d-c0fedfd26042.png)

[2019-03-28 21:19] #126 closed

[2019-03-28 21:24] llaske commented on #147
You're right but it seems fixed on dev branch.

[2019-03-28 21:50] llaske commented on #148
Yes it's true it should be "students" instead of "users".

[2019-03-30 16:16] NikhilM98 commented on #109
Fixed in #115

[2019-04-02 14:01] SomtochiAma opened #161 "Logout button not working on mobile view"
On the mobile view, the logout button doesn't function. It is also a little redundant as there are two of them

I am currently working on this.

[2019-04-02 18:12] vaarigupta opened #163 "Project Not Running"
I want to run sugarizer-server via the instructions given in the documentation but I got stuck with the following error and cannot resolve it. Please help me out to run the project on http://127.0.0.1:8080/

![issue](https://user-images.githubusercontent.com/32798276/55425763-d6e57100-55a0-11e9-8af1-2ed89a0b3d28.png)

What can I do?
I used
`sudo npm  uninstall fibers`

then

`sudo npm install fibe

[2019-04-02 18:16] NikhilM98 commented on #163
@vaarigupta
Checkout to `dev` branch. `npm install` -> `npm start`

[2019-04-02 19:50] NikhilM98 commented on #154
Fixed in #155

[2019-04-03 17:40] vaarigupta commented on #163
hey I did the same but still could not run and it is showing another error
I have checked out branch to dev and then did

`npm install`

![error1](https://user-images.githubusercontent.com/32798276/55500294-a9163000-5665-11e9-949d-aac778c2087d.png)

[2019-04-03 17:49] NikhilM98 commented on #163
@vaarigupta You need to clone [Sugarizer](https://github.com/llaske/sugarizer) repository in the same parent folder (GSOC folder in your case). Then `cd` to `sugarizer` and run `npm install`.

I once wrote a setup script for Sugarizer-Server, though it was never merged. You can view the script for hints [here](https://github.com/NikhilM98/sugarizer-server/blob/e1fb1bf963b5d1c7843ca83807e5e7b4e3130

[2019-04-03 17:55] ashish0910 commented on #163
Yes but you don't need to run npm install in sugarizer folder unless you want to run it on electron

[2019-04-04 18:12] vaarigupta commented on #163
hey I have already done that still not working

![gsoc1](https://user-images.githubusercontent.com/32798276/55578311-38d5e000-5733-11e9-9ccf-0dabb3c09cb0.png)

[2019-04-04 21:22] llaske commented on #163
Which version of nodejs are you using?

[2019-04-05 08:33] vaarigupta commented on #163
I am using version 8 - v8.15.1

[2019-04-05 10:13] NikhilM98 commented on #163
@vaarigupta can you log some variables out?

Insert some `console.log` statements in this code and share the log?
https://github.com/llaske/sugarizer-server/blob/41278307ededd620d7f7e85fbbcfd9a1b0197a7a/api/controller/activities.js#L43-L51

![Screenshot from 2019-04-05 15-26-50](https://user-images.githubusercontent.com/24666770/55620306-349fd600-57b8-11e9-8216-f14d0d79fb90.png)

I guess there's e

[2019-04-05 13:11] llaske commented on #161
Yes, you're right. Could be improved.

[2019-04-05 13:15] llaske commented on #111
You're right. It could be improve.

[2019-04-05 16:46] ashish0910 commented on #111
@llaske that did not work in my case

![journal](https://user-images.githubusercontent.com/30404493/55642871-4f417180-57ef-11e9-8b57-a43e78d64253.gif)

Also there is another issue in it , when you go to users page and click on show journal icon for a user who is not in the list of the most ten recent users then it shows the name of most recent user but shows the desired data that is the of the use

[2019-04-05 21:24] vaarigupta commented on #163
Thanks for your suggestion , I will try to implement this one

[2019-04-06 19:51] vaarigupta commented on #163
@NikhilM98  thanks buddy , now its running fine. I think there was some issue with syncing with the repository.
I  checked out to dev branch and run
`sudo service mongod start`
`node sugarizer`
Now its working fine

![workingfine](https://user-images.githubusercontent.com/32798276/55674495-301c1000-58d3-11e9-8099-969684f8970a.png)
I did not have to write log statements.
Thanks for all the support

[2019-04-06 19:52] #163 closed

[2019-04-10 15:06] llaske opened #166 "Use a random color for new user/classroom created from dashboard"
When a new user/classroom is created, the default color stroke/fill is always the same (the fist color in the selection list), it will be better to propose a random color like for new user creation in Sugarizer App.

![Capture d’écran de 2019-04-10 17-02-44](https://user-images.githubusercontent.com/981841/55890295-c0e43b80-5bb2-11e9-89bf-76e46cd59892.png)

[2019-04-10 15:09] ashish0910 commented on #166
I have started working on this issue

[2019-04-12 17:17] llaske commented on #166
Fixed in https://github.com/llaske/sugarizer-server/pull/167

[2019-04-20 14:01] llaske commented on #119
Fixed in https://github.com/llaske/sugarizer-server/commit/c29eeaa457d1953f386ed0329c94455f2d1fd70c

[2019-05-12 19:17] #112 closed

[2019-05-12 19:17] #119 closed

[2019-05-23 19:21] llaske opened #179 "Can't see classroom from the user view in Dashboard"
On the user view is the dashboard, there is no way to see classrooms for this user.
It should be nice to provide a way to see classrooms from the user view.

![image](https://user-images.githubusercontent.com/981841/58280270-85878000-7da0-11e9-9db4-824309fbb6f0.png)

[2019-06-27 20:03] llaske opened #187 "Error on expressValidator when running Server"
When the server is run, an error is displayed :

[code]

[2019-06-27 20:07] llaske commented on #187
The current work around is to change `package.json` [line 16](https://github.com/llaske/sugarizer-server/blob/master/package.json#L16) from

            "express-validator": ">=5.3.1",

To

             "express-validator": "5.3.1",

[2019-06-30 20:08] #187 closed

[2019-07-09 14:49] #166 closed

[2019-07-09 14:50] #95 closed

[2019-07-09 14:51] #10 closed

[2019-07-09 14:51] #18 closed

[2019-07-09 14:51] #19 closed

[2019-07-09 14:51] #20 closed

[2019-07-09 14:51] #21 closed

[2019-07-09 14:51] #33 closed

[2019-07-09 14:51] #39 closed

[2019-07-09 14:51] #42 closed

[2019-07-09 14:51] #84 closed

[2019-07-09 14:51] #87 closed

[2019-07-09 14:53] #81 closed

[2019-07-09 14:56] #82 closed

[2019-07-09 14:57] #154 closed

[2019-07-09 14:58] #148 closed

[2019-07-09 14:59] #109 closed

[2019-09-14 15:35] harshbawari commented on #147
Hello, is the bug still open to fix or someone already fixed it? I am new to open source and I want to just look at what I can do with it.

[2019-10-17 10:14] llaske opened #201 "Check and display node version at launch"
Will be nice to add a check of the node version at Sugarizer Server launch. Currently support v6-v10) but seems to work on v12 too.
It will be nice to add the node version in settings info displayed at startup:

[code]

[2019-11-28 16:35] llaske commented on #179
Fixed in https://github.com/llaske/sugarizer-server/commit/c5889a7aa6ffa70859e95b3d4d2e17a7a6458333

[2019-11-28 16:36] llaske commented on #41
Fixed in https://github.com/llaske/sugarizer-server/commit/3d6ac3c76873ff3f255520bba6d25e2024ba4cf8

[2019-11-28 16:38] llaske commented on #29
Fixed in https://github.com/llaske/sugarizer-server/commit/2ae8ef4368e27771b129e4fb40dfb882f8fbb7e6

[2019-11-28 16:43] llaske commented on #22
Fixed in https://github.com/llaske/sugarizer-server/commit/6178212c6e2a014cca2df1b882411a73de7205c0

[2019-11-28 16:45] llaske commented on #50
Fix inhttps://github.com/llaske/sugarizer-server/commit/a5d31937245708b559c3ff24d4fd4f0a5c7a2ab7

[2019-11-28 16:48] llaske commented on #90
Fixed in https://github.com/llaske/sugarizer-server/commit/f21e308c72da5a475333e88f2b0b5757354c5042

[2019-12-01 14:54] #179 closed

[2019-12-01 14:54] #161 closed

[2019-12-01 14:54] #147 closed

[2019-12-01 14:55] #90 closed

[2019-12-01 14:55] #50 closed

[2019-12-01 14:55] #41 closed

[2019-12-01 14:55] #22 closed

[2019-12-01 14:56] #29 closed

[2020-01-07 21:42] llaske commented on #201
Fixed in https://github.com/llaske/sugarizer-server/releases/tag/v1.2.0

[2020-01-07 21:42] #201 closed

[2020-01-09 21:59] llaske opened #208 "Server crash when dashboard call with several thousand of entries"
When the dashboard is run on a database with several thousand of entries, the graph not drawn and the server crash.

![image](https://user-images.githubusercontent.com/981841/72108199-4f007480-3333-11ea-9a52-994bfdec19ce.png)

On the server side the error is:

[code]

[2020-01-10 15:02] im-prakher opened #210 "Dashboard UI misbehaves when started on Google Chrome"
When i start sugarizer server dashboard on google chrome, i am experiencing UI issues on home tab. But on switching tabs and minimizing window problem does not persists.

![serv](https://user-images.githubusercontent.com/43149558/72162292-b841bf80-33e7-11ea-9312-71d415b08986.gif)

[2020-01-10 21:59] im-prakher commented on #208
@llaske  due to such huge amount of data, the memory size must have exceeded its limit for the heap in v8. Have a look at this,
[heap-size-limit in v8](https://v8.dev/blog/heap-size-limit).

By the way, restarting the server with following command to increase the memory for process will solve the issue,
`node --max-old-space-size="NEW_MEMORY_SIZE in MB" server.js`

For 8GB memory space set memory

[2020-01-14 20:39] llaske commented on #210
Hmmm. Can't reproduce it, could be related to a specific window size.
Could you try with a window not in full screen?
Could you try to populate the database with few users/journal entries to see if it happen again?

[2020-01-14 20:42] llaske commented on #208
@im-prakher thanks for the advice but increasing the memory will not solve the issue when users count will continue to grow.
We should found a more long-term solution.

[2020-01-14 20:44] llaske commented on #208
Fixed in https://github.com/llaske/sugarizer-server/pull/212

[2020-01-15 10:29] NikhilM98 commented on #111
Fixed in #213

[2020-01-18 09:51] llaske opened #217 "Provide a way to remove multiple users at the same time"
Currently if an admin want to remove a bunch of users, he has no choice to remove them one by one using the dashboard. It could be a very long process if the number of users is large.
I suggest to add a way, for example using a specific syntax in the import script, to remove multiple users at the same time.

[2020-01-18 10:05] NikhilM98 commented on #217
Can we add something like: `node scripts/remove_users.js filename.csv`? The CSV will contain the name of the users the admin wants to delete.
It'll generate an output file with info about the users deleted/failed to delete.

[2020-01-18 10:47] llaske commented on #217
Will be nice if we could call it from the dashboard. It's why my first thought was to update the import script.

[2020-01-18 13:10] NikhilM98 commented on #217
@llaske if you want the bulk delete feature to be accessible from the dashboard then maybe we can modify the `Import Users` feature on the dashboard such that if we upload a CSV with user type as `delete` (Current user types are Admin, Student, and Teacher) then the script will find and delete that user.

[2020-01-19 09:26] llaske commented on #217
Sounds like a good idea but we need to update the `seed_users.js` script to do the same. So admin could do the action both from the command line and from the UI.

[2020-01-19 10:16] NikhilM98 commented on #217
Yes. I've already started working on `seed_users.js` before working on the API. I'll try to make a PR for both the scripts by tomorrow.

[2020-01-20 09:00] llaske opened #219 "Shared journal content is incorrect in dashboard"
In Sugarizer, the shared journal is the place where any user can share content with other users on the server. So, the shared journal content should be the same for any user.

The current shared journal view in the dashboard seems to display only content of shared journal created by the current user. So the shared journal content is not complete and is not the same for all users.

![2020-01-20 09-

[2020-01-20 09:56] llaske opened #220 "Add a download icon in Dashboard Journal view"
The idea is to add a download action icon on each line of the Journal view.

<img width="1099" alt="image" src="https://user-images.githubusercontent.com/981841/72716693-f28f2780-3b72-11ea-9661-ae2e3ab79e59.png">

This icon will allow to download the item and save it locally. This feature is the same than the "Copy to device" feature of the Sugarizer Journal.
Depending of the item mime type, the c

[2020-01-20 10:02] llaske opened #221 "Add an upload button in Dashboard Journal view"
The idea is to add a upload button in the Journal view to provide a way for an admin or a teacher to add content in a private Journal or in the shared Journal.

<img width="1099" alt="image" src="https://user-images.githubusercontent.com/981841/72717170-d6d85100-3b73-11ea-9284-5bf9a8dca763.png">

This feature is the same than the "Copy from device" feature of the Sugarizer Journal.
Depending of th

[2020-01-23 13:32] NikhilM98 commented on #219
@llaske actually, I intentionally added this feature. The goal was to show only the shared journal entries created by that user.

Shared journal are still the same for all the users when accessed from Sugarizer. Sugarizer-Server is an administrator app and this feature is intended to show journal entries corresponding to a user, so it only shows shared journal entries belonging to that user. If yo

[2020-01-23 21:35] llaske commented on #219
Hmmm. Interesting.

BTW currently administrators/teachers don't ask for a way to filter shared journal by users.
So I think it's better to provide:
- a way to see private content for a specific user
- a way to see shared content for all users

So I suggest to remove the Private/Shared combo and to replace it by a checkbox "Shared journal".
If the checkbox is unchecked (default), the administrator/

[2020-01-25 08:48] llaske commented on #217
Fixed in https://github.com/llaske/sugarizer-server/pull/218

[2020-01-26 21:13] llaske opened #222 "Allow teachers to connect to Sugarizer client"
Since https://github.com/llaske/sugarizer/commit/9094711b32ab3dd151954f8d2113be801e139683  Sugarizer allow teachers to login to the app.

BTW it doesn't work because when a teacher is created it doesn't have a private journal and a shared journal. See [here](https://github.com/llaske/sugarizer-server/blob/dev/api/controller/users.js#L493). So the login from Sugarizer app works but it's not possibl

[2020-01-26 21:15] im-prakher commented on #210
@llaske  Sorry for replying late but I tried populating the server with few entries and issue just solved. Furthermore, the issue only occurs with only 1 user in database. It does not persists when the number of users are zero or more than 1.

![sug_server](https://user-images.githubusercontent.com/43149558/73141875-b0a03d00-40ae-11ea-81f5-d301d3ffb372.png)

[2020-01-28 08:58] sarthak-g commented on #219
working on this

[2020-01-28 16:57] llaske commented on #210
Can't reproduce it, even with an empty database and with different window size.

![2020-01-28 17-54-17 2020-01-28 17_55_38](https://user-images.githubusercontent.com/981841/73286257-8908bc00-41f7-11ea-9fb4-fe6d56ae5ffb.gif)

[2020-01-28 17:51] im-prakher commented on #210
Did you try it with only 1 user in database?

[2020-01-28 21:18] llaske commented on #210
Just tried, no more success.
Tested also on Ubuntu in Fullscreen. No more success.

![Capture du 2020-01-28 22-17-12](https://user-images.githubusercontent.com/981841/73306212-0b0adc00-421c-11ea-9233-167887ed397f.png)

[2020-01-29 20:44] im-prakher commented on #210
Its occuring on google chrome, not on chromium and my viewport size is 1853px x 981px on chrome.
So please try reproducing it on chrome.

[2020-01-30 14:01] sarthak-g commented on #219
@llaske can you please tell which part of code find entries when "show results" button is pressed?
I'm unable to find it.

[2020-01-30 21:36] llaske commented on #210
I've tested with your size. No more success.
Could you try on your side with Chromium?

[2020-01-31 06:40] NikhilM98 commented on #222
So you just want
- The teacher to login to Sugarizer and access their journal entries.
- Teacher can be created/deleted by the admin only.
- In Sugarizer-Server, add some way to view teacher journal entries.

[2020-01-31 16:40] llaske commented on #222
Yes for the two first points.

Interesting I didn't think about that 🤔  I don't think we need to add in the Dashboard a way for a teacher to view its own entries. He could see its entries by connecting to Sugarizer directly.
But, yes, the admin should be able to see Journal entries for teachers too.

[2020-01-31 17:17] NikhilM98 commented on #222
@llaske in the latest pull request (#224),
- The admin can view teacher entries just like he views student entries.
- A teacher can view their entry along with the entries of their students. A teacher cannot access the entries of other teachers.

[2020-02-01 20:32] llaske commented on #222
Fixed in https://github.com/llaske/sugarizer-server/pull/224

[2020-02-03 19:58] im-prakher commented on #210
I tried a lot but I couldn't resize to the specific size in chromium.But Sugarizer dashboard doesn't experience any viewport issues on chromium than it misbehaves on chrome.
Did you tried in on Google Chrome ?

[2020-02-05 20:51] llaske commented on #210
You're right, I've finally reproduced it in Chrome on Ubuntu with the same resolution than you: 1853px x 981px. It's strange that it works in Chromium and not in Chrome. It should be the same code base.

[2020-02-05 21:11] llaske commented on #219
Fixed in https://github.com/llaske/sugarizer-server/pull/223

[2020-02-06 10:49] hqrshguptq commented on #220
Is it done?

[2020-02-06 20:30] llaske commented on #220
@hqrshguptq No it's not.

[2020-02-10 10:50] llaske opened #226 "Show the right icon in Dashboard for TXT/ODT/DOC/PDF"
In the dashboard, when displaying Journal content TXT/ODT/DOC/PDF (all coming from Write activity), a generic icon is displayed.

<img width="846" alt="image" src="https://user-images.githubusercontent.com/981841/74143511-38cc2980-4bfb-11ea-8edb-4b8b6c577d5e.png">

In Sugarizer app, due to [this](https://github.com/llaske/sugarizer/blob/dev/js/journal.js#L229), a specific icon is displayed for the

[2020-02-10 11:00] llaske opened #227 "Allow opening PDF content in dashboard"
When trying to open a PDF content in Journal, a message "No linked activity" is displayed.

![image](https://user-images.githubusercontent.com/981841/74144334-d6742880-4bfc-11ea-9810-fabbc8e32928.png)

It will be better if the document is open in a new window like in Sugarizer app.
The code to do this in Sugarizer app is [here](https://github.com/llaske/sugarizer/blob/dev/js/journal.js#L404).

[2020-02-10 14:38] NikhilM98 commented on #226
Fixed in [030a3](https://github.com/llaske/sugarizer-server/pull/225/commits/030a33bbdb163673e0c2580d915d243e682ba411).

[2020-02-10 16:29] NikhilM98 commented on #227
Fixed in [999f46](https://github.com/llaske/sugarizer-server/pull/225/commits/999f46afe5edf111d3b5970e2144114c18c244fd).

[2020-02-11 09:22] llaske commented on #220
Fixed in https://github.com/llaske/sugarizer-server/pull/225

[2020-02-11 11:10] llaske commented on #226
Look like it should be change on the home screen too:

<img width="457" alt="image" src="https://user-images.githubusercontent.com/981841/74231658-5ff02d00-4cc7-11ea-9cab-04019e635532.png">

[2020-02-13 15:47] llaske commented on #226
Fixed in https://github.com/llaske/sugarizer-server/pull/228

[2020-02-18 16:31] llaske commented on #221
Fixed in https://github.com/llaske/sugarizer-server/pull/229

[2020-03-02 09:58] mikklfr opened #232 "Expose presence and server on the same port"
As of today Sugarizer Server exposes two ports:
- 8080 for the Web service
- 8039 for the Presence service

It would be convenient to have a way to expose only one port and have the client and server to use this one path.

This would simplify the load balancer integration and also would allow to use the service behind proxies which does not allows ports other than 80 and 443.

Having a special pat

[2020-03-02 10:10] mikklfr opened #233 "Move presence state out of the server"
Today the presence messages are managed exclusively by the node process running sugarizer.

In order to get the ability to have multiple workers working at the same time or to be able to recover a process crash without loosing state, it would be great to work on the High Availability (HA) of Presence.

My first research would made us look at [Redis Pub/Sub](https://redis.io/topics/pubsub).
Redis c

[2020-03-05 11:59] dhruvmisra opened #235 "Activity list doesn't scroll while reordering, causes multiple server calls."
The activity list in the Dashboard does not scroll up/down while reordering activities. This leads to multiple drag-and-drops to reorder single activity and each drop causes a POST request to update the list on the server.
Also, there is an unnecessary POST request even when the list order hasn't changed.

![dragScrollIssue](https://user-images.githubusercontent.com/40134655/75979388-69efff00-5f06

[2020-03-10 06:29] dhruvmisra opened #238 "Overflow on opening any dropbox"
Whenever a dropbox is opened, it leads to the body overflowing horizontally.

![dropboxOverflowIssue](https://user-images.githubusercontent.com/40134655/76285601-2a3e6400-62c6-11ea-9362-bdfffe6d27ab.gif)

I'm working on a fix.

[2020-03-10 10:38] dhruvmisra opened #240 "Selected option's text isn't localized"
In the users view, the selected option of the role-selector is never localized after page load.

![selectedLocalizeIssue](https://user-images.githubusercontent.com/40134655/76304224-07717700-62e9-11ea-868d-bfd70dc79bf9.gif)

I'm working on a fix for this.

[2020-03-11 21:15] llaske commented on #235
Fixed in https://github.com/llaske/sugarizer-server/pull/236

[2020-03-11 21:20] llaske commented on #238
Fixed in https://github.com/llaske/sugarizer-server/pull/239

[2020-03-22 09:31] llaske commented on #240
Fixed in https://github.com/llaske/sugarizer-server/commit/ac791858f1f0bb968e280944d36eb235b3a628c4

[2020-03-22 09:38] llaske commented on #142
Fixed in https://github.com/llaske/sugarizer-server/pull/242

[2020-03-25 02:49] cperreault commented on #232
I would be interested in working on that. I currently encounter a problem with the Presence service not reachable when behind an Apache proxy. The thing is that I wanted to use an existing virtual machine to deploy a Sugarizer instance (with docker-compose) for the COVID-19 educational continuity on a Linux machine that already host other websites with Apache. I set up the TLS certificate at the A

[2020-03-26 08:53] mikklfr commented on #232
Hello !

It should be possible to do an apache proxy using the actual code. Maybe we can have a look with you and @llaske to solve this and to write some documentation to get something up and running first and share with the community.

Having the same port will surely be better but as far as I know, there's nothing ready for now.

[2020-03-26 18:49] dhruvmisra opened #245 "Add multiple actions to Journal and Users view"
The entries in the Journal view for a user shows a list with individually dispatch-able actions (Launch/Download/Delete). Wouldn't it be a good feature to have check boxes similar to Sugarizer journal to perform batch operations (mainly download and delete). It would speed up the process of download and deletion. What do you say @llaske?

[2020-03-27 20:20] Mac-Henni opened #248 "Can I run a server on a Flash drivw"

[2020-03-27 20:20] #248 closed

[2020-03-29 08:44] llaske commented on #232
@cperreault it should be possible to use an Apache proxy instead of NGinx but I don't have experience about that.
Could you describe what is the issue? Is it only a problem with presence?
Did you set up the SSL options in your env/docker.ini file like mentioned [here](https://github.com/llaske/sugarizer-server/tree/dev#running-server-securely-using-ssl)?

[2020-03-29 08:45] llaske commented on #245
Sure it will be a nice feature. Thought I will not call it "batch actions" because batch actions are already supporting using Export/Import features.

[2020-04-01 03:03] cperreault commented on #232
Hi @llaske, I finally got it working by not proxying the Presence service by Apache. I encountered a login problem in the admin panel (/dashboard) to finally figure out that `strict_ssl` must be set to `false` because the Apache proxy is addressing localhost and there was a security error with alias name of the certificate. So my working configuration is to install the SSL certificate at the Docke

[2020-04-03 19:38] llaske commented on #232
Nice to hear it works now.
BTW on the Sugarizer client side, a change is need to support using the same port and a different URL
All the stuff is done [here](https://github.com/llaske/sugarizer/blob/dev/lib/sugar-web/presence.js#L134).

`that.socket = new WebSocket((secure ? 'wss://' : 'ws://')+server+':'+port);`

This line build the server URL by reading the presence port and the server name. So

[2020-04-03 20:16] llaske commented on #245
Fixed in https://github.com/llaske/sugarizer-server/pull/249
Also do multiple action in Users view.

[2020-04-06 18:56] NikhilM98 opened #254 ""request" library has been deprecated"
The _[request](https://github.com/request/request)_ library has been deprecated. According to [Issue #3142](https://github.com/request/request/issues/3142) in its official repository, _request_ will stop accepting new features and it will stop considering breaking changes.
https://github.com/llaske/sugarizer-server/blob/6319475cb73cc2135d9cf3bcc08e677fd422e8b8/package.json#L27

This library is use

[2020-04-06 18:56] NikhilM98 commented on #254
@llaske @tarunsinghal92 what do you think?

[2020-04-06 19:58] tarunsinghal92 commented on #254
Sounds good to me 👍

On Mon., Apr. 6, 2020, 2:57 p.m. Nikhil Mehra, <notifications@github.com>
wrote:

[2020-04-09 22:33] ksraj123 opened #256 "Simplifying deployment to GCP using Ansible"
I think deployment of sugarizer-server onto the Google Cloud Platform makes sense for many schools or other organisations trying to setup sugarizer deployment themselves as they provide free credit initially.

But the process for deployment is lengthy and may seem complex or intimidating to non-developers.

The UI of Google Cloud Platform is not very user friendly for non-developers in my opinion

[2020-04-11 20:43] llaske commented on #254
Oooch, bad news.
Why not superagent but we have to evaluate first what it cost to change the code: lot of files are impacted.
@NikhilM98 could you try to migrate on a small part (just in one isolated file) to test and measure the impact of the change?

[2020-04-11 20:46] NikhilM98 commented on #254
@llaske sure. I'll do it.

[2020-04-11 20:58] llaske commented on #256
Hmmm. Ansible is a good idea. It's on our TODO list for GSoC 2020 project [Sugarizer School Portal](https://github.com/sugarlabs/GSoC/blob/master/Ideas-2020.md#sugarizer-school-portal).
But may be we could imagine first a generic Ansible package to deploy Sugarizer Server, then a specific package to deploy it on GCP.

[2020-04-12 11:52] NikhilM98 commented on #256
I think Ansible package in the Sugarizer School Portal project is to bring the K8s Infrastructure up. It is not for installing Sugarizer Server using Ansible. Even in the Sugarizer School Portal a Helm chart will be created to install Sugarizer-Server. Currently, Sugarizer-Server can be very easily installed using Docker so I think there is no need for Ansible. One drawback is that we have to depe

[2020-04-12 12:17] ksraj123 commented on #256
@llaske I agree with @NikhilM98 , for simple docker deployment on localhost an ansible package will be as good as a simple script.

However, I think at least for deployment to GCP specifically, an ansible package would make sense for reasons mentioned before.

#257 - proposes an ansible package for deployment to GCP
#259 - package for simple deployment to localhost

I am also working upon the [sug

[2020-04-12 14:22] llaske commented on #256
@ksraj123 @NikhilM98 the idea is not to replace the current way to deploy Sugarizer Server with docker.

But ansible could be useful in two ways:
- Today ansible is use by IIAB project to deploy Sugarizer Server (see [here](url)) and they are not interested to deploy Sugarizer using docker because IIAB should run on tiny computers with limited storage and docker use a lot of storage (images, ...).

[2020-04-12 19:00] NikhilM98 commented on #256
Here is the [link](https://github.com/iiab/iiab/blob/master/roles/sugarizer/tasks/install.yml) to the Sugarizer Installation script in IIAB Repository (The above link was not working).

I opened PR #68 last year to install Sugarizer-Server using Shell script. The PR was WIP (features were incomplete), but it was turned down and closed at that time because docker was the preferred way to install Su

[2020-04-14 09:14] llaske commented on #256
@NikhilM98 it make sense. Look like using Ansible is not a so good idea. Thanks for this explanation.

BTW I don't think it's a good idea to remove Docker dependency in Sugarizer-School-Box. We had lot of issues with node.js/MongoDB install in the past, it's better to have a packaged version of these software to be sure it will work.

IMHO the main issue in Sugarizer-School-Box is that it's linked

[2020-04-14 15:33] ksraj123 opened #262 "Handling sessions across multiple instances, kubernetes compatibility"
When there are more than one instance of sugarizer-server in a kuberentes deployment then the user may get redirected to login page when he either tries to log in or access any route after login.
![Peek 2020-04-14 20-13](https://user-images.githubusercontent.com/39027928/79238751-677daf00-7e8d-11ea-9c38-0360ec1e9454.gif)

A sugarizer deployment on Google Kubernetes Engine with 3 instances of sugar

[2020-05-04 22:09] ksraj123 commented on #256
Solved in #257

[2020-05-05 19:21] llaske commented on #256
Thanks @ksraj123. I'm closing issue only when a new version is release.

[2020-05-12 00:14] joshuaalm opened #268 "Trouble getting sugarizer server to connect to MongoDB from Glitch"
I have forked the sugarizer-server repository and created a Glitch project, https://joshuaalm-sugarizer-server.glitch.me, and I'm struggling to get that project to connect to my own private MongoDB cluster, despite using the correct username, password, hostname and allowing that project domain's IP in the cluster's firewall rules.

[2020-05-12 14:37] llaske commented on #268
Are you able to access your server from the outside?
An easy way to test is to open the URL `http://<serveraddress>[:port]/api` from your browser?

You should receive a JSON with the properties of your server.
For example:

     https://try.sugarizer.org/api

Give:

       {"name":"Sugarizer Server","description":"Server for testing only: do not use for production, subject to reboot/erase","web":"

[2020-05-16 01:37] joshuaalm commented on #268
I just tried that, and I still don't get a response.  The logs show "Waiting for DB... (MongoServerSelectionError)"

[2020-05-16 01:40] joshuaalm commented on #268
The full address to the API route for my glitch is https://joshuaalm-sugarizer-server.glitch.me/api

[2020-05-16 09:18] llaske commented on #268
So it means that your Sugarizer Server is not able to connect to MongoDB.

I'm not a MongoDB expert but regarding the documentation on `MongoServerSelectionError`, it look like there is an issue with connection to your MongoDB cluster.
Is there anything special to mention to the connection string to connect to a MongoDB cluster?
[Here](https://github.com/llaske/sugarizer-server/blob/dev/config/wai

[2020-08-15 19:53] NikhilM98 commented on #254
Fixed in #260

[2020-08-23 20:25] llaske commented on #262
A Helm chart has been created to manage deployment of Sugarizer Server on Kubernetes.
See [here](https://github.com/NikhilM98/sugarizer-chart) for more.

[2020-08-23 20:25] #262 closed

[2020-09-03 15:55] #27 closed

[2020-10-11 14:04] #256 closed

[2020-10-11 14:04] #111 closed

[2020-10-11 14:04] #142 closed

[2020-10-11 14:04] #208 closed

[2020-10-11 14:04] #217 closed

[2020-10-11 14:04] #219 closed

[2020-10-11 14:04] #220 closed

[2020-10-11 14:04] #221 closed

[2020-10-11 14:04] #222 closed

[2020-10-11 14:04] #226 closed

[2020-10-11 14:04] #227 closed

[2020-10-11 14:04] #235 closed

[2020-10-11 14:04] #238 closed

[2020-10-11 14:04] #240 closed

[2020-10-11 14:04] #245 closed

[2020-10-11 14:04] #254 closed

[2020-10-27 20:48] llaske opened #272 "Warning: Accessing non-existent property with node.js"
There is some warnings when launching Sugarizer Server on node.js 14+ like `Warning: Accessing non-existent property 'XXX' of module exports inside circular dependency`.
See:

[code]

It doesn't seems to prevent Sugarizer Server to work right.

[2020-10-27 20:53] llaske commented on #272
Fixed by https://github.com/llaske/sugarizer-server/commit/45d9cd6c2b68707b7627f8e346d4d0618ad65615

[2020-11-01 22:52] holta commented on #272
@llaske could you consider a possible release 1.3.1 (of Sugarizer Server) that includes this fix — so that Internet-in-a-Box can include this fix for Node.js 14 ?

[2020-11-07 15:23] llaske commented on #272
Hmmm. It's not planned.
It's really a cosmetic issue. Everything works fine.

[2020-11-07 15:24] llaske opened #273 "Unit tests are broken for activities"
When launching unit test, there is an error message.

[code]

[2020-11-07 15:29] llaske commented on #273
Fixed in https://github.com/llaske/sugarizer-server/commit/736d5d470034932c15bb8c46847783e18192c58f
Unit testing expect to have a limited number (3) of favorite activities. Was increased to 40 by https://github.com/llaske/sugarizer-server/commit/8332e0848edb7afce7bad9286a195cdae7ce60c6.

[2020-11-22 23:42] aitorpazos commented on #232
This is also relevant when running sugarizer in kubernetes as the ingress-controllers doesn't support setting rules for different ports. Being able to route by path on same port as the app/api would be great.

[2020-11-23 21:56] llaske commented on #232
@aitorpazos but Sugarizer now works well on Kubernetes. See https://github.com/NikhilM98/sugarizer-chart
I wonder if this fix is still need. @mikklfr @NikhilM98 what do you think?

[2020-11-23 22:34] NikhilM98 commented on #232
[Kunernetes-Ingress](https://github.com/nginxinc/kubernetes-ingress/) allows setting Custom Ports by simply editing their `values.yaml` file and setting `customPorts`.

There are other Nginx-Ingress implementations that does not allows this flexibility. Maybe they'll allow setting Custom Ports in future. Meanwhile this Nginx-Ingress controller works best for us.

Also, moving presence on the same

[2020-11-23 22:43] NikhilM98 commented on #232
Presence currently runs on different port and has seperate load balancing than Sugarizer Server resources/requests. Most of the data of the presence is stored in the memory and it also requires high availability.

Sugarizer Server requests sometimes take long time to process. If we use same load balancer for both of them then it might cause unexpected issues.

I'm saying this theoretically. I have

[2020-11-24 07:34] mikklfr commented on #232
👋  As Nikhil pointed out it works but it's kinda a hack.
In order to go full support for cloud native providers we should move onto standard ports and think about how to achieve high availability for our websockets.

[2020-11-29 10:40] llaske commented on #232
I've added support of the same port for web and presence in https://github.com/llaske/sugarizer-server/commit/117994f1cb9a97406905e4f29b92d639b061eaa4
Just use the same value for `web` and `presence` value in the `.ini` file and voila!

I've tested in different settings with HTTP and with HTTPS and it seems to work (no need to upgrade the Sugarizer app side). Please test on your side too.

Note:

[2020-11-29 19:50] aitorpazos commented on #232
Thanks! Although we I could make it work following the helm chart pointed out by @NikhilM98 , this only works with the support of `VirtualServer` resource provided by nginx inc ingress controller (https://docs.nginx.com/nginx-ingress-controller/), not with the k8s community nginx ingress controller (https://kubernetes.github.io/ingress-nginx/) or haproxy ingress-controller (https://github.com/hapr

[2020-11-29 21:17] mikklfr commented on #232
Well done Lionel! I will try to look at High Availability subjects when I'll have some free time but right now this modification will definitely make it easier!

[2021-03-30 14:25] saurabhhere opened #276 "Permission denied in installing Docker Compose"
When using the script to install Docker compose given in [docs/install.md](https://github.com/llaske/sugarizer-server/blob/master/docs/install.md), "Permission denied" error is coming.

![Screenshot from 2021-03-30 19-46-31](https://user-images.githubusercontent.com/60233336/113004007-e2200700-9190-11eb-8ace-2bd730881b76.png)

Line of Code on which error is coming:
[code]

[2021-03-30 16:35] ricknjacky opened #278 "Sever not accessible after docker compose on widows."
Followed the steps on running the sugarizer server locally as described in `readme.md` file, got the following error:-

Setup :-
![Screenshot (643)](https://user-images.githubusercontent.com/50985033/113050741-cd5c6700-91c2-11eb-891d-14fcf8cd5c80.png)

Nothing opens up/shows up after docker build:-
![image](https://user-images.githubusercontent.com/50985033/113050815-e49b5480-91c2-11eb-8841-cc05a1

[2021-03-31 20:31] llaske commented on #278
Hmmm. Something should goes wrong.
Could you launch `docker-compose start` instead of `docker-compose up`. So you could see directly what happens.

[2021-03-31 23:25] ricknjacky commented on #278
Thanks a lot! It works.
I'd like to mention something however,
![Screenshot (649)](https://user-images.githubusercontent.com/50985033/113223071-fd306b00-92a5-11eb-9577-a8b81e69c1dd.png)

`docker-compose start` works only after `docker-compose up -d` and it makes sense too, can't start a container server before creating/composing it.

Should I, update the documentation markdown file accordingly for

[2021-04-01 20:29] llaske commented on #278
Okay so seems that the error was related to the fact that you've not call the `generate-docker-compose.sh` script.
Right?

[2021-04-01 22:34] aditya113141 opened #280 "Link in Record Activity Readme Not working."
The link - https://play.google.com/store/apps/details?id=com.cyngn.cameranext in the Record Activity is not found. Maybe it is outdated and needs update.

[2021-04-01 23:04] aditya113141 commented on #280
Issue made at wrong place. Closing it.

[2021-04-01 23:04] #280 closed

[2021-04-02 03:41] ricknjacky commented on #278
I think not, you can see in the screenshot attached above. I did follow the readme guide diligently, but the command that solved the issue was

`docker-compose start` and it should be noted that, this command should be called after `docker-compose up -d`

[2021-04-02 20:18] llaske commented on #278
Like mentioned in the [documentation](https://docs.docker.com/compose/reference/up/) `docker-compose up` command "Builds, (re)creates and starts" containers. So `docker-compose start` should not be need.

Don't know what happens on your side. Did you already use docker on your computer?

[2021-04-03 09:07] ricknjacky commented on #278
Yes I have and I presume I didn't make myself clear the first time around.

The documentation guides us to use `docker-compose up -d` and this runs the container in detach mode. So, docker-compose start is supposed to be run after it. If, we don't want that we can just update the README.md i.e. change
`docker-compose up -d` to `docker-compose up`

Reference :- [documentation FAQ](https://docs.dock

[2021-04-04 14:16] #276 closed

[2021-04-04 14:22] llaske commented on #278
On a server, `docker-compose` should really be launched with the `-d` option because the terminal could be closed after the command. So I don't see a good reason to change documentation.

[2021-04-04 14:23] #278 closed

[2021-10-02 19:42] llaske opened #286 "Error retrieving content when stored in UTF-16"
Several activities store values as compressed UTF-16 string, for example Paint, Curriculum, ...

When the string size is greater than [chunk size](https://github.com/llaske/sugarizer-server/blob/dev/api/controller/journal.js#L55), there is an error reading content from the remote Journal (works when read from the local Journal).

See below:

![Peek 02-10-2021 21-31](https://user-images.githubuserc

[2021-10-02 20:47] llaske commented on #286
Fixed in https://github.com/llaske/sugarizer-server/commit/e0121687dc783c2bc168666259ebfa2c24f6af00

Look like that due to chunk, the UTF-16 string could be cut at the middle of a multi bytes character encoding. So when the string is unchunked the read string has not the same size (i.e. is not the same) than the original.

[2022-02-03 08:53] markknit opened #287 "Sugarizer-server port conflict"
I'm trying to install sugarizer-server on a Ubuntu 18.04 system using Nginx. I used the docker image, but when I try to finalize the install it fails due to a conflict on port 8080. There is already a service running that is bound to that port that I can't move. I tried changing the sugarizer.ini file to change the port, but it does not seem to have any effect on the install process - it still fai

[2022-02-03 09:10] NikhilM98 commented on #287
If you use Docker Compose to bring the stack up, then it should automatically map port 8080 to port 80 [here](https://github.com/llaske/sugarizer-server/blob/master/docker-compose.yml#L27).

Docker Compose instructions are given [here](https://github.com/llaske/sugarizer-server#running-sugarizer-server). You can change the port from port 80 to any other port in docker-compose.yaml.

[2022-02-03 09:18] NikhilM98 commented on #287
If you want to update superagent then maybe you can use open package.json file, set `"superagent": "^7.0.0",` and try `npm install` again.

I have not tested the compatibility of the newer version, but given that superagent rarely has any [breaking changes](https://www.npmjs.com/package/superagent#upgrading-from-previous-versions), so you can give it a try.

[2022-02-05 04:47] markknit commented on #287
Thanks for the response. Changing the port in docker-compose.yml worked. However, there was another issue - the sugarizer-server folder is setup as root owned, so it wouldn't load. I changed it to www-data and it works fine now.

[2022-02-16 16:19] NikhilM98 opened #288 "FIx Sugarizer and Sugarizer Server compatibility errors"
Sugarizer depends on Sugarizer Server as backend to support networking.

Sugarizer running on [try.sugarizer.org](https://try.sugarizer.org/index.html) seems to be running into multiple issues:
<img width="1792" alt="Screen Shot 2022-02-17 at 1 08 55" src="https://user-images.githubusercontent.com/24666770/154307276-015c0a5c-6ad8-4d90-99ee-d9ce6c43d3d4.png">

Tasks:
- Identify the source of differ

[2022-02-18 17:02] ishubham21 opened #289 "Fix issues related to documentation in readmes (readme.md, docs/install.md)"
1. Under the section https://github.com/llaske/sugarizer-server/blob/master/docs/install.md#run-sugarizer-using-docker we need to write `sudo` before cURL and chmod commands because they are attempting to modify files in the root directory and need permissions.
 2. Under the section https://github.com/llaske/sugarizer-server/blob/master/docs/install.md#run-sugarizer-on-linux, under "Install Sugari

[2022-02-18 17:49] NikhilM98 commented on #289
Yeah, you're right. Some instructions are ambiguous and the instructions for Mac and Linux are not consistent.

In some parts of the documentation, it's assumed that the user is running as root user while in other parts, the user is non-root user. It'll be nice to make it consistent.

It does not matters if the path is relative or fixed, both are correct. However, it'll be nice to make it consiste

[2022-02-19 08:26] ishubham21 opened #290 "Improving the UX of desktop toolbar"
![Screenshot from 2022-02-19 13-33-17](https://user-images.githubusercontent.com/34435822/154792611-b380b697-8e43-4db0-ab30-a0e7510e1dde.png)

1. There are two different buttons to toggle between list-view and radial-view. Wouldn't it be nice to have a single button (say `toggle list view`) that would do the task? We can update the icon with each toggle too.
2. Currently the search bar is oddly pl

[2022-02-19 09:49] NikhilM98 commented on #290
This issue is not directly related to Sugarizer Server. Can you move this issue to [sugarizer/issues](https://github.com/llaske/sugarizer/issues)?

[2022-02-19 09:53] NikhilM98 commented on #289
Great! However, I'd like to know @llaske's opinion on using `sudo` in the documentation.

[2022-02-19 10:01] llaske commented on #289
I think it's better to mention `sudo` for Linux and no mention it on MacOS because, from my experience, it's not need.
BTW we can't cover all possible case and to install Sugarizer Server, the user need a minimum of admin skill.
It will be too long and too time consuming to maintain a documentation for dummies.

[2022-02-19 10:06] llaske commented on #288
Hmmm. I can't reproduce it on my side.
Is it an issue related to an existing user? Do you have the same issue when creating a new user?

[2022-02-19 12:49] NikhilM98 commented on #288
Yeah, I tried reproducing the error but I couldn't reproduce it either.

I created a new user while testing.

<hr>

I was getting error 500 (Internal server error), so it was definitely not a network issue. It may be possible that server might have run into some temporary issue.

[2022-02-19 13:11] NikhilM98 commented on #289
It will be too long and too time consuming to maintain a documentation for dummies.

Yeah, that makes sense. However, the current instruction to install the stack on the "home/root" directory is a bit misleading.
It'll be nice to make it short and flexible.

Something like this:
[code]

After that:
[code]

[2022-02-19 13:27] NikhilM98 commented on #288
It seems that due to some reason, the user id was missing from the requests.

[2022-02-20 05:03] #290 closed

[2022-02-20 17:14] ishubham21 opened #292 "Popups in Dashboard seem to be broken"
![Screenshot from 2022-02-20 22-11-38](https://user-images.githubusercontent.com/34435822/154853756-57298c65-8795-4aca-89af-b9bc0aa7a1ee.png)
The popups in the Dashboard looks like they are not able to retrieve content from the locales.ini file.

One thing to note here is that I was able to fix it via refreshing it 3-4 times but it again broke while I refreshed it for the 5th time.

Steps to repro

[2022-02-20 20:44] llaske commented on #292
Yes you're right, it sometimes happen.
I guess it's related to page loading.
You're welcome to propose a fix.

[2022-02-21 02:36] ishubham21 commented on #292
I tried hunting for the problem but wanted to ask where I can find the function definition of the function `.addStep()`. After searching it for a while, it seems to be present in `bootstrap-tour.js` but that is currently minified. Can you please guide me with this? I want to understand the execution of `tour.addStep()` in `dashboard/public/js/tutorial.js` file from where the templates are getting

[2022-02-21 13:48] ishubham21 opened #293 "Adding GitHub Workflows/Actions/CI"
Currently, the repository lacks GitHub Actions/workflows or GitHub CI. Some of the proposed additions are -

1. Merge conflict watcher that label PRs as `merge-conflict` if there's a merge conflict in it - can be done for both master and dev branches.
2. Welcome first-time contributors (on new PR/issues) with a message.
3. A [codeQL](https://codeql.github.com/docs/codeql-overview/about-codeql/) to

[2022-02-21 20:35] llaske commented on #292
Yes, it comes from the Bootstrap Tour library [here](http://bootstraptour.com/api/#step-options).
It comes from the file [here](https://github.com/llaske/sugarizer-server/blob/dev/dashboard/public/js/tutorial.js). I suggest you to work on a local Sugarizer server instance to be able to debug the issue on a non minified version.

[2022-02-22 21:28] llaske commented on #287
We're going to adapt the documentation to add recommendation regarding use of sudo.
Let's continue [here](https://github.com/llaske/sugarizer-server/issues/289).

[2022-02-22 21:28] #287 closed

[2022-02-23 20:59] llaske commented on #293
Thanks for these suggestions.
I think the most interesting idea is the 7th.
BTW I'm not familiar with GitHub Actions/CI. I don't know what we need to do that.
@NikhilM98 what do you think?

[2022-02-26 20:49] llaske commented on #288
I've explored the issue in past days to see if it could be related to session expiration but it's not.
I can't see a reason for the client to have a null user id except if you've deleted the browser cache.
So I'm closing the issue. We could reopen it if it happens again.

[2022-02-26 20:49] #288 closed

[2022-02-26 23:18] NikhilM98 commented on #288
I tested it again, this error occurs when I try to use try.sugarizer.org in incognito mode (I'm using Google Chrome on Mac.)

[2022-02-27 11:42] codebloded opened #294 "padding from left required in language selection menu list"
Screenshot below :arrow_down:
Can i fix this selection menu? @llaske
#### i wrote the code and fix this thing .! it is good to make a pull request?

![e4603fb2-d4d0-48b6-a833-684de82d1237](https://user-images.githubusercontent.com/48005711/155880936-6b194c0c-0fda-4367-87d0-26d0d4d82abe.jpeg)
?

[2022-02-27 20:42] llaske commented on #294
Yes sure. It could be improved. Don't forget to test with different window size.

[2022-02-28 08:36] llaske commented on #288
@NikhilM98 I've tested with Google Chrome 98.0.4758.109 on Mac in Private Mode and it works so I can't reproduce this behavior. Did you change settings regarding cookies handling?
FYI there is limitation about using Sugarizer in Private Mode in Firefox (see [here](https://github.com/llaske/sugarizer/issues/361)) but there is no such limitation on Chrome.

[2022-03-08 02:02] khareyash05 opened #296 "add package-lock.json to .gitignore"
I think package-lock.json should be added to .gitignore as it may cause instability or merge conflicts a lot due to changes in versions of dependencies.

I would like to do that

[2022-03-08 09:49] llaske commented on #296
It's a good practice to keep `package-lock.json` in the repository.
See for example [here](https://dev.to/adamklein/package-lock-json-in-git-or-not-50l5) or [here](https://stackoverflow.com/questions/44206782/do-i-commit-the-package-lock-json-file-created-by-npm-5).
So it's better to not include it in the `.gitignore` file.

[2022-03-10 11:40] dhwaj1902 opened #297 "Unable to start the docker container server"
when I execute the command ``docker-compose up -d`` it is showing this error in windows 11
![image](https://user-images.githubusercontent.com/57860123/157654623-da504659-b4cf-4fb6-88b9-c73f65e6cb1b.png)
while the mongo container is running fine.

[2022-03-11 14:22] khareyash05 commented on #297
install node_modules first in the server

[2022-03-11 14:25] khareyash05 opened #298 "Adjust the text to center of the panel"
I would like to adjust the language text to the center of the panel
![Screenshot from 2022-03-11 19-53-30](https://user-images.githubusercontent.com/60147732/157886006-1135ab4a-5137-4179-9c56-cef38b01f635.png)

[2022-03-11 14:57] #297 closed

[2022-03-11 21:39] llaske commented on #298
Duplicate https://github.com/llaske/sugarizer-server/issues/294

[2022-03-11 21:39] #298 closed

[2022-03-12 14:49] NikhilM98 commented on #293
It's possible to research and set-up GitHub Actions and CI in the forks of the repository. After that PR with configuration can be created and manual configuration steps could be shared with @llaske so that Lionel can configure Sugarizer repositories.

[2022-03-12 14:51] NikhilM98 commented on #293
I guess we can add git hooks to lint and test the code too.

[2022-03-12 15:13] NikhilM98 commented on #297
There's no need to install node locally.
Follow the steps here to fix the issue: https://github.com/llaske/sugarizer-server/blob/099b6d4da5b9a3241f96a951849dd06114cfd670/docs/install.md

[2022-03-12 15:14] NikhilM98 commented on #297
Basically you need to run `sh generate-docker-compose.sh` first

[2022-03-12 16:50] dhwaj1902 opened #299 "Making Assignment Page UI"
I would like to make Assignment Page UI and add assignments tab in the sidebar as shown:
![image](https://user-images.githubusercontent.com/57860123/158026895-0a6b7447-69e6-4653-9c89-6e9a94535a46.png)

[2022-03-12 17:08] NikhilM98 commented on #299
You're welcome to make a prototype for the Sugarizer Assignment project on your fork. It's also possible to reference the prototype on your proposal to make it stronger.

However, it will be unfair to other candidates if you create a PR on this repository for this feature before the actual GSoC period begins.

Also, this issue is irreverent since it does not addresses any bug or issue with Sugariz

[2022-03-12 17:55] #299 closed

[2022-03-13 21:01] mohantechnology opened #302 "validation in client side for inputs before sending request"
If  /dashboard/login page
![Screenshot_6](https://user-images.githubusercontent.com/71864565/158078804-a2d923ba-2f5b-49b8-a45f-06f0d343037f.png)
 suppose if  we click login button without filling anything in input field then also the form submitted ,
To prevent this we can add some  client side validation using javascript so that form only submit after some basic validaton

[2022-03-14 01:06] NikhilM98 commented on #302
Sugarizer-Server forms does not depend on client side validation. If you propose to implement client side validation in Sugarizer-Server, then it needs to be implemented in all the forms in the UI.

At this moment, the simplest thing which can be implemented here is HTML input "required" attribute. But it will interfere with the "Password cannot be blank" popup on submitting the form.

@llaske wha

[2022-03-14 04:58] Shreyas-SAS commented on #299
@NikhilM98 sir can I do the same?

[2022-03-14 05:10] NikhilM98 commented on #299
@Shreyas-SAS there's no reason why a student should not be allowed to create a prototype. It's a good way to showcase that you have the required skills for the project (You don't need permission for that)

Although contributions to Sugarizer Server in form of bug fixes would be of more value at this point for the organization, prototype of the project implementation can be a good indicator of prog

[2022-03-14 16:01] Shreyas-SAS opened #303 "PR to dev merged with other contributors"
I tried to create a PR to fix typos to the dev branch but it seems that the PR is getting merged with other contributor and shows 2 files changed whereas I have changed only 1 file.
On master Branch there seems to be no conflict but since dev is 3 commits behind master branch. all the commits are added to my PR.
Can individual PR's not be sent in this case?
This is the first time it happened with

[2022-03-14 16:15] Shreyas-SAS commented on #302
I support the change. It seems that if the form gets submitted even when blank then it may be seen as a vulnerability to DDOS attack. It will be pretty easy to create automation to click on a button. this may lead to overflow of request on the server that may push it to its limits.

A validation may at the least increase the complexity of the script making it a bit difficult if not completely stop

[2022-03-15 09:57] khareyash05 commented on #303
Did uh git pull before commiting?

[2022-03-15 11:31] Shreyas-SAS commented on #303
Yes. Actually the branch dev is 3 commits behind master. So the problem arose.

I created the changes in master branch of my forked repo and tried to push it on dev here. This created differences.

Solution was simple. I deleted the files on my dev branch and then just added the new changed files. This then gave no problem.

I am still thankful for your suggestions and time.

[2022-03-15 11:38] #303 closed

[2022-03-15 21:17] mohantechnology commented on #302
Added a  simple validation before sumitting form
if will prevent submition in  following cases :
  - if  username is empty
  - if  password is empty
  - if  only white space is filled in input field

Used similar  notification  popup that is used for  displaying other messages

[changes here](https://github.com/llaske/sugarizer-server/pull/305/commits/36adf43623c60c877bb9cf702dc5ae3cba634ab3)

if

[2022-03-15 21:53] mohantechnology opened #306 "Feature to import/insert user through uploading csv file"
currently adding bulk users is supported only from command line . we can add feature to  insert/import users through  front-end  by uploading csv file. And extending this feature to support  excel file also

[2022-03-16 13:52] llaske commented on #306
It's already possible from the Dashboard (see "Import users" button).

<img width="1051" alt="image" src="https://user-images.githubusercontent.com/981841/158605141-ce474a87-e052-49ad-b49e-9959e9b833ec.png">

[2022-03-16 16:46] llaske commented on #306
It's not a request coming from the field. They requested explicitly CSV files.
People are more familiar with CSV. Plus, handling Excel files with multiple format (header, template, styles, ...) could make things difficult.

[2022-03-16 16:51] saga2405 opened #307 "issue creating admin account with the given script"
`sh add-admin.sh admin password http://127.0.0.1:8080/auth/signup`
running this script gives the following error `add-admin.sh: 6: add-admin.sh: Syntax error: end of file unexpected (expecting "fi")`

i'm using windows and running this script from docker container cli

[2022-03-16 17:07] mohantechnology commented on #306
Okay ,Thanks a lot for your support

[2022-03-16 17:07] #306 closed

[2022-03-17 11:54] #307 closed

[2022-03-18 01:06] mohantechnology commented on #292
If no one is working on this issue , then i would  like to work on this issue

[2022-03-18 02:32] khareyash05 opened #308 "feat : add error 404 page"
There is no error 404 page on the server.I would like to add one

[2022-03-18 16:38] dhwaj1902 commented on #293
@NikhilM98 can you please check I have made a PR regarding git pre-commit to run tests.

[2022-03-19 06:52] saga2405 opened #310 "Getting internal server error when trying to make a admin account"
`sh add-admin.sh admin password http://127.0.0.1:80/auth/signup`

I'm using this command in docker container CLI and it throws back internal server error

**HTTP/1.1 500 Internal Server Error
X-Powered-By: Express
Access-Control-Allow-Origin: *
Access-Control-Allow-Methods: GET, POST, OPTIONS, PUT, PATCH, DELETE
Access-Control-Allow-Headers: x-key,x-access-token
Content-Security-Policy: default-sr

[2022-03-19 06:52] saga2405 commented on #310
can anyone please help to resolve this

[2022-03-19 20:53] llaske commented on #308
I don't see the interest of that. On the production servers, this type of errors are handle by nginx: https://sugarizer.org/404

[2022-03-19 20:55] llaske commented on #310
Could you explain the context? Are you using Docker or are you using directly node.js?

[2022-03-20 01:25] mohantechnology commented on #292
To reproduce the issue clear local storage ,  disable cache and slow down the network speed and reload the page

https://user-images.githubusercontent.com/71864565/159143777-28b14242-9f80-4c93-b857-8fe354959054.mp4

another way to reproduce  , disable cache and slow down the network speed  and click on the help button before page completely loads

https://user-images.githubusercontent.com/71864565

[2022-03-20 01:31] mohantechnology commented on #292
As what  i understand from the  code ,

 for translating the  language  the   flow is
 - first  load and display default Locale data
 - emit event 'localized'
 - when 'localized'  event happens load and display Locale data for user selected language

  To load and display data,  'loadLocale'  function is called for both the time  .
'loadLocale' function mainly do the following things
 - set gReady

[2022-03-20 01:52] mohantechnology commented on #292
we see here that  the value of button is {{ TutoPrev }}  because for translating second time with user selected language the 'loadLocale' clear previous data and due to use of global variable  the stored value inside that variable is cleared and 'document.webL10n.get("TutoPrev")' return {{ TutoPrev }}  showing a waring that this value not availabe in global variable . if we uncomment the 'clear' f

[2022-03-20 02:53] mohantechnology commented on #292
To fix this issue i  have   only called  'loadLocale'  function once  with the user selected language  .

![final fixed](https://user-images.githubusercontent.com/71864565/159145119-44a2ad16-c90b-482f-b61c-dae1bc73b699.gif)
Please take a look  [here #312](https://github.com/llaske/sugarizer-server/pull/312)

[2022-03-20 03:13] mohantechnology commented on #302
since sugarizer-server also works for different languages  and  so it is not a good idea to add client side validation notifications

[2022-03-20 03:13] #302 closed

[2022-03-20 06:45] #308 closed

[2022-03-21 01:26] saga2405 commented on #310
I'm using docker for this. As running this command directly on nodejs is giving permission issues

[2022-03-21 10:38] llaske commented on #310
You should launch this command from inside the Docker container. It means attaching a bash shell on the running docker instance to launch the command. If you're not familiar with docker, you could attach a bash to an instance by running:

`docker exec -it <IdOfDockerForSugarizerServer> /bin/bash`

[2022-03-23 18:09] #310 closed

[2022-03-23 18:26] saga2405 opened #313 "filtering out data while exporting user accounts from admin dashboard"
the button `export users` in the admin dashboard(`http://127.0.0.1:8080/dashboard/users`) exports all types of user accounts in the form of CSV file regardless of the type(`student, teacher, admin`) we've selected
the downloaded file includes all three types of accounts - admin, teacher, student
We can filter out the data and export only those type of account which is selected in the query
for exa

[2022-03-24 11:56] codebloded commented on #298
@llaske  done is  #314

[2022-03-24 17:10] saga2405 commented on #313
@llaske can you please give your inputs

[2022-03-24 17:24] saga0p opened #315 "sort users in admin dashboard"
currently, the user list in `http://127.0.0.1:8080/dashboard/users/` is not sorted
we can sort the users based on `last seen` or `account created time`

[2022-03-24 17:27] saga2405 opened #316 "no pagination in admin-dashboard/activities"
currently there's no pagination in `dashboard/activities` section
we can add the pagination to it

[2022-03-24 17:37] #316 closed

[2022-03-24 17:53] saga2405 commented on #315
I've checked again, so there's already sorting available based on last seen but it's not clearly visible. so when we click on last seen button it sorts the data but we can add a separate sort by button/dropdown : with options including 1. sort by last seen
2. sort by created at

[2022-03-24 21:33] llaske commented on #313
You're right it make sense to use filter (both user type and user name) in filtering.

[2022-03-26 13:09] saga2405 commented on #315
@llaske can i get your inputs on this

[2022-03-27 20:01] saga2405 commented on #313
@llaske @NikhilM98 I've made a request for this. can you please check

[2022-03-27 20:32] llaske commented on #315
It seems logical to click on the header to sort. Not sure to understand your idea of button/dropdown.

[2022-03-28 20:05] mohantechnology opened #319 "Refactoring of a function"
In  "dashboard\public\js\l10n.js" there is a function 'nextEntry()' which uses array.shift() method to get the  i'th line

        function nextEntry() {
          // Use infinite loop instead of recursion to avoid reaching the
          // maximum recursion limit for content with many lines.
          while (true) {
            if (!entries.length) {
              parsedRawLinesCallback();

[2022-03-28 20:26] mohantechnology opened #320 "Some of the Text Content is not translated"
In below screen shots  text are not   replaced  when selected Spanish  language
![Screenshot_1](https://user-images.githubusercontent.com/71864565/160480535-d68e2b9b-cd46-4a7a-bd49-3a59a93e0bcf.png)
![Screenshot_2](https://user-images.githubusercontent.com/71864565/160480543-d534b83c-88ce-47d6-861c-7594df6e11b0.png)

and also only button text is translated for hindi language
![Screenshot (4390)](h

[2022-04-02 11:10] saga0p opened #321 "sort activities in admin dashboard based on name (alphabetically)"
currently, there's no sorting in activities section in dashboard/activities. we can sort all the activities based on the name

[2022-04-02 13:07] saga0p opened #322 "error while toggling favourite in admin dashboard/activities"
401 unauthorized error poping when clicked on the star icon to favorite an activity in dashboard/activites.
`POST http://localhost:8080/api/v1/activities?x_key=623a00c1a8337755841ca9c9&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJwYXJ0aWFsIjpmYWxzZSwiZXhwIjoxNjQ5MDY5NTIwNjU2fQ.27gSOvzBRIGPA0x_hPkPdyBTATj-ZG1t4WRsftF8Ypc 401 (Unauthorized)`
 And because of that, the toggle favorite is not g

[2022-04-03 02:06] NikhilM98 commented on #319
I would not recommend changing the code of the library if it's not essential. Changing the library code without running the tests associated with that library could lead to unforeseen consequences.

[2022-04-03 02:13] NikhilM98 commented on #321
It's possible and would be convenient. However, the implementation needs to be compatible with activity reorder by drag and drop feature. Currently the order of the activities is relevant to Sugarizer, so the idea of sorting the activities may not be compatible with the existing feature.

Can you describe in detail what your visualization of sorting by name while preserving existing feature looks

[2022-04-03 02:16] NikhilM98 commented on #322
Oh, that looks like a bug. Would you like to work on this issue?

It might be associated with conditional role based authorization.

[2022-04-03 12:52] saga2405 commented on #322
Yes sir, I want to work on this

[2022-04-03 13:36] saga0p opened #323 "401 unauthorized error with activity reorder by drag and drop feature"
401 unauthorized error while reordering the activities by drag and drop feature
`POST http://localhost:8080/api/v1/activities?x_key=623a00c1a8337755841ca9c9&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJwYXJ0aWFsIjpmYWxzZSwiZXhwIjoxNjQ5MTAzMTU1OTg0fQ.EKcOL1VD-v6FSrMELDfBRoiLM9sDOiamDEUSTzwx_1A 401 (Unauthorized)`
And because of that the progress is not getting saved
I would like to fix this

[2022-04-03 19:12] mohantechnology commented on #292
to fix the issue i have also made some changes  "dashboard\public\js\l10n.js", as it is a library and  changing it may cause some other problems . so another way to  solve this issue is to add attribute name to all element which uses   'document.webL10n.get( )'

so in  below screenshots i have added attribute only 'prev' button

https://user-images.githubusercontent.com/71864565/161443943-9a2143b8

[2022-04-03 19:13] #319 closed

[2022-04-09 09:51] codebloded opened #326 "Spacing between the button"
@NikhilM98  @llaske   I want to propose one enhancement in Sugarizer-server which is little spacing between the button and icon-buttons in dashboard!
it'll be much better if we add  some spacing over there !
please tell me your thoughts  on this , i'll surely make  a pull request regarding this issue.
thank you !

screenshot below :arrow_down:
![Screenshot from 2022-04-09 15-13-19](https://user-im

[2022-04-09 14:26] saga2405 commented on #322
while I was working on this issue. I came across a few things which is a little strange for me. The route for this is `http://localhost:8080/api/v1/activities` and the function which is being called is updateActivities for the activities controller. But I noticed that the function is not getting hit as I've made several console logs in it which is also not visible. Also I tried commenting out the

[2022-04-16 22:54] MananJain2002 opened #328 "Sugarizer-Server LogOut Bug"
https://user-images.githubusercontent.com/63538502/163693625-64a86105-0caa-4617-bd9f-b9414d0c39ec.mp4

After logging off and doing undo it should redirected towards login page

[2022-04-17 20:12] llaske commented on #328
It's not bug.
Clicking back button could always cause errors.

[2022-04-18 09:06] mohantechnology commented on #320
the text "if you lose success to ... "
is not translated to hindi when we select hindi language
so i want to ask if is it  made to look like that?

[2022-04-19 13:12] MananJain2002 commented on #328
Hi @llaske sir I'm not sure why it's not a bug even if it's a children's app its better for a website to be more securer anyway I managed to fix this issue here https://github.com/llaske/sugarizer-server/pull/329 please do review it. I have even attached a video for demonstration.

[2022-04-25 18:58] codebloded commented on #326
@llaske  have a look on this

[2022-07-20 20:17] llaske commented on #320
It's not an issue in the source code. It's related to localization: https://translate.sugarizer.org/projects/sugarizer/sugarizer-server/

[2022-07-20 20:17] #320 closed

[2022-07-20 20:19] llaske commented on #294
Closed due to lack of activity.

[2022-07-21 19:43] llaske commented on #294
Fixed in https://github.com/llaske/sugarizer-server/commit/7e1cec20a4ece69230cd703bd8e1811bfa33598c

[2022-07-21 19:52] #232 closed

[2022-07-21 19:54] #272 closed

[2022-07-21 19:54] #273 closed

[2022-07-21 19:55] #286 closed

[2022-07-21 20:10] llaske commented on #322
I can't reproduce the issue on my side, could you detail your environment?

[2022-07-21 20:10] llaske commented on #323
I can't reproduce the issue on my side, could you detail your environment?

[2022-07-22 19:54] llaske commented on #328
Not reproducible on recent Sugarizer Server version.

[2022-07-22 19:54] #328 closed

[2022-08-24 14:42] JamesM92 opened #337 "Link to existing MongoDB"
I have an already running mongoDB server, I can't find any means to link to an already running mongoDB server while starting up the sugarizer docker compose file.

Is there something I'm missing, or is this just not an option?

[2022-08-24 19:56] llaske commented on #337
Of course it's possible to run Sugarizer Server with an existing MongoDB server.
In that case you just need a single container, you could use [this file](https://github.com/llaske/sugarizer-server/blob/dev/docker/Dockerfile-standalone) as a model.
Read [architecture documentation](https://github.com/llaske/sugarizer-server/blob/dev/docs/architecture.md) for reference.